
@{
    ViewData["Title"] = "درباره سرای";
}

@section Styles{
    <style>
        main.mt-150 {
            margin-top: 0;
        }
        .content-main-box {
            margin: 25px;
            background: #f2f1f3;
            padding:25px;
            border-radius:15px;
        }
    </style>
}

<div class="section pt-0 small_pb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/image/about-our990824.png" class="w-100 m-auto" />
            </div>

            <div class="col-12">
                <div class="content-main-box">
                    <p>
                        /// 1: مرتب سازی بر اساس جدیدترین(پیشفرض )
                        /// 2: مرتب سازی بر اساس امتیاز
                        /// 3: مرتب سازی بر اساس پرفروشترین
                        /// 4: مرتب سازی بر اساس ارزانترین
                        /// 5: مرتب سازی بر اساس گرانترین
                        /// 6: دارای نشان ملی
                        /// 1: مرتب سازی بر اساس جدیدترین(پیشفرض )
                        /// 2: مرتب سازی بر اساس امتیاز
                        /// 3: مرتب سازی بر اساس پرفروشترین
                        /// 4: مرتب سازی بر اساس ارزانترین
                        /// 5: مرتب سازی بر اساس گرانترین
                        /// 6: دارای نشان ملی
                    </p>
                    <p>
                        /// 1: مرتب سازی بر اساس جدیدترین(پیشفرض )
                        /// 2: مرتب سازی بر اساس امتیاز
                        /// 3: مرتب سازی بر اساس پرفروشترین
                        /// 4: مرتب سازی بر اساس ارزانترین
                        /// 5: مرتب سازی بر اساس گرانترین
                        /// 6: دارای نشان ملی
                        /// 1: مرتب سازی بر اساس جدیدترین(پیشفرض )
                        /// 2: مرتب سازی بر اساس امتیاز
                        /// 3: مرتب سازی بر اساس پرفروشترین
                        /// 4: مرتب سازی بر اساس ارزانترین
                        /// 5: مرتب سازی بر اساس گرانترین
                        /// 6: دارای نشان ملی
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
