
@{
    ViewData["Title"] = "درباره سارای";
}

@section Styles{
    <style>
        main.mt-150 {
            margin-top: 0;
        }
        .content-main-box {
            margin: 25px;
            background: #f2f1f3;
            padding:25px;
            border-radius:15px;
        }
    </style>
}

<div class="section pt-0 small_pb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/image/about-our990824.png" class="w-100 m-auto" />
            </div>

            <div class="col-12">
                <div class="content-main-box">
                    <p>
                        بازار صنایع دستی سارای، پلتفرم آنلاین معرفی و عرضه ی صنایع دستی فاخر صنعتگران این مرز بوم می باشد که با همکاری اداره کل میراث فرهنگی، گردشگری و صنایع دستی استان آذربایجانشرقی بنا نهاده شده است. نقطه ی قوت ما در سارای، عرضه ی تمام محصولات با ارائه ی تاییدیه و شناسنامه اصالت کالا و تائید صنعتگر توسط وزارت میراث فرهنگی، گردشگری و صنایع دستی می باشد که تضمین اصالت محصولات خریداری شده توسط شما عزیزان می باشد.
                    </p>
                    <p>
                        ما در سارای گارانتی 7 روزه عودت وجه را داریم تا شما با خیال راحت خرید اینترنتی دلچسبی را تجربه نمایید.
                    </p>
                    <p>
                        ما در گروه سارای، با ترکیب هنر و فن آوری، با چاشنی خلاقیت و عشق می توانیم از عهده ی هر مسئولیتی برآئیم. ما ایده های ناب را پرورش داده و با کمک اعضای تیم به یک شاهکار تبدیل می کنیم.
                    </p>
                    <p>
                        از سال 1384 در حوزه ی فن آوری اطلاعات و از سال 1396 در حوزه ی تولید محتوا فعالیت مستمر و حرفه ای داریم و تمام مجوزهای لازم را از مراجع ذیضلاح ملی اخذ نموده ایم.
                    </p> <p>
    خرید خوبی داشته باشید...
</p>
                </div>
            </div>
        </div>
    </div>
</div>
