@model HandiCrafts.Web.Models.Account.ShortLoginModel

<aside class="wrapper">
    <div class="col-sm-4 ">
        <div class="card border-radius-1rem">
            <div class="card-body">
                <div class="kt-login__form  ml-3 mr-3">
                    <div class="text-center pb-8">
                        <img src="~/image/Logo.png" class="mb-4 width-150px" />
                    </div>
                    <div>
                        <h5 class="kt-login__title mb-3">ورود / ثبت نام</h5>
                    </div>

                    <form id="form_login" class="kt-form" asp-action="Login" asp-controller="Account" data-ajax-method="POST"
                          data-ajax="true" data-ajax-begin="onSigninBegin" data-ajax-complete="onSigninComplete"
                          data-ajax-failure="onSigninFailed" data-ajax-success="onSigninSuccess">
                        <div class="form-group">
                            <label>شماره موبایل یا پست الکترونیک خود را وارد نمایید</label>
                            <input asp-for="EmailorMobileNo" class="form-control" />
                            <span asp-validation-for="EmailorMobileNo" class="kt-font-danger"></span>
                        </div>
                        <div class="alert alert-danger d-none" id="errorbox"></div>

                        <div class="kt-login__actions mt-3">
                            <button id="kt_login_signin_submit" type="submit" class="btn btn-block btn-info btn-main mt-5">ورود به سرای</button>
                            <p class="mt-4">
                                رمز خود را فراموش کرده اید؟<a class="cyan" href="/Account/ForgetPassword">فراموشی رمز</a>
                            </p>
                        </div>

                        <div class="kt-login__actions mt-3 text-center">
                            <p>با ورود و ثبت نام در سرای شما شرایط و قوانین استفاده از سرویس های سایت سرای و قوانین حریم خصوصی آن را می پزیرند. </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</aside>