@model HandiCrafts.Web.Models.Account.AcceptCodeModel

<aside class="wrapper">
    <div class="col-sm-4 ">
        <div class="card border-radius-1rem">
            <div class="card-body">
                <div class="kt-login__form  ml-3 mr-3">
                    <div class="text-center pb-8">
                        <img src="~/image/Logo.png" class="mb-4 width-150px" />
                    </div>
                    <div>
                        <h5 class="kt-login__title mb-3">کد تایید را وارد نمایید</h5>
                    </div>
                    <div>
                        <p class="mb-3">
                            برای این مشخصات، حساب کاربری وجود ندارد.
                            <br />
                            برای ساخت حساب جدید، کد تایید برای شما ارسال گردید.
                        </p>
                    </div>

                    <form id="form_login" class="kt-form" asp-action="VerifyCode" asp-controller="Account" data-ajax-method="POST"
                          data-ajax="true" data-ajax-begin="onSigninBegin1" data-ajax-complete="onSigninComplete1"
                          data-ajax-failure="onSigninFailed1" data-ajax-success="onSigninSuccess1">
                        <div class="alert alert-danger d-none" id="errorbox"></div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <label>کد تایید</label>
                            <input type="text" asp-for="AcceptCode" class="form-control" />
                            <span asp-validation-for="AcceptCode" class="kt-font-danger"></span>
                        </div>

                        <div class="kt-login__actions mt-3">
                            <p class="text-center">
                                @*<span class="color-firouzi font-size-17px">دریافت مجدد کد تایید</span>*@
                                <input name="minute" id="minute" type="hidden" value="2" />
                                <input name="second" id="second" type="hidden" value="0" />
                                <br />
                                ارسال مجدد کد تا <span id="timerminute">02</span>:<span id="timersecond">00</span> دیگر
                            </p>
                        </div>

                        <div class="kt-login__actions mt-3">
                            <button id="kt_login_signin_submit1" type="submit" class="btn btn-block btn-info btn-main">تایید کد</button>
                            <button id="kt_send_code_submit1" type="button" class="btn btn-block btn-primary btn-main" style="display: none;">ارسال مجدد کد فعال سازی</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</aside>
