@model HandiCrafts.Web.Models.Account.ProfileInfo

@{
    ViewData["Title"] = "تکمیل حساب کاربری";
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}

@section Styles{
    <link href="~/plugins/persianDatePicker/persian-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/userpanel/upanelcss.css" rel="stylesheet" />
    <style>
        .order-detail-content-main {
            background-color: #f2f2f3;
            border-radius: 10px;
            border-color: #dee2e6;
            font-size: 1rem;
            padding: 20px 30px;
        }

            .order-detail-content-main label {
                padding-right: 10px
            }
    </style>
}

<div class="container mt-4">
    <div class="col-12  min-height-200px order-detail-content-main">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h5 class="mb-5"><span style="border-bottom: 1px solid #3ccedd !important">اطلاعات شخصی</span></h5>
            </div>
            <div class="col-12 col-sm-12">
                <form asp-action="UpdateProfile" data-ajax-method="POST"
                      data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                      data-ajax-failure="onFailed" data-ajax-success="onSuccess">
                    <div class="row">
                        <div class="p-15 col-12 col-sm-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="alert alert-danger d-none" id="errorbox"></div>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="MelliCode" class="control-label"></label>
                            <input asp-for="MelliCode" class="form-control" />
                            <span asp-validation-for="MelliCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="Bdate" class="control-label"></label>
                            <input asp-for="Bdate" class="form-control pdate" autocomplete="off" />
                            <span asp-validation-for="Bdate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="Shoghl" class="control-label"></label>
                            <select asp-for="Shoghl" class="form-control" id="shoghl">
                                <option>انتخاب کنید</option>
                                <option value="1">1</option>
                            </select>
                            <span asp-validation-for="Shoghl" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12 col-sm-12">
                            <button type="submit" id="btnUpdate" class="btn btn-lg btn-primary">ثبت اطلاعات</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/plugins/persianDatePicker/persian-date.js"></script>
    <script src="~/plugins/persianDatePicker/persian-datepicker.js"></script>
    <script>
        let GetWorkList = () => {
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Account/GetWorkList",
                    data: {},
                    success: function (result) {
                        if (result.data != null) {
                            $("#shoghl").empty().append(`<option value="">انتخاب کنید</option>`);
                            $.each(result.data.objList, function (e, v) {
                                $("#shoghl").append(`<option value="${v.id}">${v.name}</option>`);
                            });
                        }
                    }
                });
            } catch (e) {
            }
        }

        function onBegin(e, form) {
            $("#errorbox").html('').addClass("d-none");
            $('#btnUpdate').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
        }

        function onSuccess(result) {
            $('#btnUpdate').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
            $("#errorbox").html('').addClass("d-none");

            if (result.success == true) {
                localStorage.setItem("fullname", $("input[name=FullName]").val());
                window.location = "/Home/Index";
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed() {
            alert("خطا");
        }

        function onComplete(re) {
            if (re?.responseJSON) {
                if (re.responseJSON?.success == false) {
                    $("#errorbox").html(re.responseJSON.message).removeClass("d-none");
                }
            }
            console.log(re);
        }

        failed = function (xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        };

        $(document).ready(function () {
            $(".pdate").persianDatepicker({
                initialValueType: 'persian',
                calendarType: 'persian',
                calendar: {
                    persian: {
                        locale: 'en',
                        persianDigit: false
                    }
                },
                persianDigit: false,
                format: 'YYYY/MM/DD',
                maxDate: new persianDate(),
                toolbox: {
                    calendarSwitch: {
                        enabled: false
                    }
                },
                //initialValue: false,
                autoClose: true,
                onSelect: function () {
                    $(this).trigger("keydown");
                }
            });
        });

        $(".pdate").on('change keyup paste keydown', function (e) {
            e.preventDefault();
        });

        /****************************
         *    In Page Load
         ****************************/

        GetWorkList();

    </script>
}
