@model HandiCrafts.Web.Areas.Seller.Models.Account.SetNewPassword
@{
    ViewData["Title"] = "ایجادرمز جدید";
    Layout = "~/Areas/Seller/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{
}

<div class="reg_login_content_mainform reg_login_content0 m-auto">
    <div class="kt-login__form  ml-3 mr-3">

        <div>
            <h5 class="kt-login__title mb-3">تغییر رمز عبور </h5>
        </div>

        <form id="form_login" class="kt-form" asp-area="Seller" asp-action="ChangePassword" asp-controller="Account" data-ajax-method="POST"
              data-ajax="true" data-ajax-begin="onSigninBegin1" data-ajax-complete="onSigninComplete1"
              data-ajax-failure="onSigninFailed1" data-ajax-success="onSigninSuccess1" dir="rtl">
            <div class="alert alert-danger d-none" id="errorbox"></div>
            <input type="hidden" asp-for="EmailorMobileNo" />
            <div class="form-group">
                <label>کد تایید</label>
               
                <div class="input-group mb-2 heght-65px reg-element">
                    <input type="text" class="form-control heght-100per emailmobile " asp-for="AcceptCode" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="~/image/icons/Sanatgar/mobile.png" />
                        </span>
                    </div>
                </div>
                <span asp-validation-for="AcceptCode" class="kt-font-danger"></span>
            </div>

            <div class="form-group">
                <label>رمز عبور</label>

                <div class="input-group mb-2 heght-65px reg-element">
                    <input type="password" class="form-control heght-100per emailmobile " asp-for="Password" aria-describedby="basic-addon2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">
                            <img src="~/image/icons/Sanatgar/password-1.png" />
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Password" class="kt-font-danger"></span>
            </div>

            <div class="form-group">
                <label>تکرار رمز عبور</label>
                <div class="input-group mb-2 heght-65px reg-element">
                    <input type="password" class="form-control heght-100per emailmobile " asp-for="ConfirmPassword" aria-describedby="basic-addon3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">
                            <img src="~/image/icons/Sanatgar/password-1.png" />
                        </span>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="kt-font-danger"></span>
            </div>

            <div class="kt-login__actions mt-3">
                <p class="text-center">
                    <span class="color-firouzi font-size-17px">دریافت مجدد کد تایید</span>
                    <input name="minute" id="minute" type="hidden" value="2" />
                    <input name="second" id="second" type="hidden" value="0" />
                    <br />
                    ارسال مجدد کد تا <span id="timerminute">02</span>:<span id="timersecond">00</span> دیگر
                </p>
            </div>


            <div class="kt-login__actions mt-3 text-center">
                <button id="kt_login_signin_submit1" type="submit" class="btn pl-5 pr-5 btn-info btn-main m-auto">ثبت اطلاعات</button>
                <button id="kt_send_code_submit1" type="button" class="btn pl-5 pr-5 btn-primary btn-main m-auto" style="display: none;">ارسال مجدد کد فعال سازی</button>
            </div>

            <div class="kt-login__actions mt-3 text-center">
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        // ========== VerifyCode Js ===========
        var interval;
        var minute = $("#minute").val() && $("#minute").val() != 0 ? $("#minute").val() : 2;
        var second = $("#second").val() && $("#second").val() != 0 ? $("#second").val() : 0;

        $(document).ready(function () {
            timer();
        });

        function timer() {
            interval = window.setInterval(function (e) {

                $("#timerminute").html(minute < 10 ? "0" + minute : minute); $("#minute").val(minute);
                $("#timersecond").html(second < 10 ? "0" + second : second); $("#second").val(second);

                if (second === 0 && minute > 0) {
                    second = 60;
                    minute--;
                } else if (minute === 0 && second === 0) {
                    clearInterval(interval);
                    $("#kt_login_signin_submit1").css("display", "none");
                    $("#kt_send_code_submit1").css("display", "block");
                }
                if (second > 0) second--;
            }, 1000);//600000
        }

        // =======================================
        function onSigninBegin1(e, form) {
            $('#kt_login_signin_submit1').attr('disabled', true);
        }

        function onSigninSuccess1(result) {
            $('#kt_login_signin_submit1').attr('disabled', false);

            if (result.success == true) {
                window.location = "/Seller/Account/Login";
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onSigninFailed1() {
            console.log("خطا");
        }

        function onSigninComplete1(re) {
            console.log(re);
        }

        failed1 = function (xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        };

        $("#kt_send_code_submit1").on("click", function () {
            CustomerGetCodeForForgetPass();
        });

        let CustomerGetCodeForForgetPass = () => {
            var model = { EmailorMobileNo: $("input[name=EmailorMobileNo]").val() };
            $.ajax({
                type: 'POST',
                data: model,
                url: "/Seller/Account/ForgetPassword",

                success: function (result) {
                    $("#errorbox").addClass("d-none");

                    if (result.success == true) {
                        $("#kt_login_signin_submit1").css("display", "block");
                        $("#kt_send_code_submit1").css("display", "none");

                        $("#minute").val("2"); minute = 2;
                        $("#second").val("0"); second = 0;

                        timer();
                    } else {
                        $("#errorbox").html(result.message).removeClass("d-none");
                    }
                }
            });
        };


    </script>
}
