@model HandiCrafts.Web.Areas.Seller.Models.Account.PersonalInformationVModel
@{
    ViewData["Title"] = "تکمیل مدارک صنعتگر";
    Layout = "~/Areas/Seller/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{
    <style>
        .button-wrapper {
            position: relative;
            width: 220px;
            text-align: center;
            background: #63c4d0;
        }

            .button-wrapper span.label {
                position: relative;
                z-index: 0;
                display: inline-block;
                width: 100%;
                cursor: pointer;
                color: #fff;
                padding: 2px 0;
                text-transform: uppercase;
                font-size: 12px;
            }

        input[name=upload] {
            display: inline-block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50px;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .reg_login_content_mainform {
            width: 100%;
        }
    </style>
}

<div class="reg_login_content_mainform reg_login_content0000 ml-auto comp-info force-overflow">

        <div asp-validation-summary="All"></div>
        <div class="alert alert-danger d-none" id="errorbox"></div>
        <input type="hidden" asp-for="UserId" />

    <form id="form_login" class="kt-form" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
          enctype="multipart/form-data"
          data-ajax-method="POST"
          data-ajax="true"
          data-ajax-begin="onBegin1"
          data-ajax-complete="onComplete1"
          data-ajax-failure="onFailed1"
          data-ajax-success="onSuccess1">

        <div id="docMaliyat" class="d-none">
            <h5 class="active-text mb-4 mt-5">مالیات بر ارزش افزوده</h5>

            <div class="row">
                <div class="col-sm-12 form-group mb-4">
                    <label>آیا مشمول مالیات بر ارزش افزوده می باشید؟</label>
                    <div class="input-group mb-2 height-40px reg-element">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="maliatRadioOptions" value="1" checked>
                            <label class="form-check-label mr-5 ml-0" for="inlineRadio1">بلی</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="maliatRadioOptions" value="2">
                            <label class="form-check-label mr-5 ml-0" for="inlineRadio2">خیر</label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="maliyatdoc" class="row">
                <div class="col-sm-12 form-group mb-4 p-10 uprow1">
                    <div class="button-wrapper btn border-radius-10">
                        <span class="label">
                            انتخاب فایل برگه مالیات بر ارزش افزوده
                        </span>
                        <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                    </div>
                    <input type="hidden" name="documentId" value="1" />
                    <input type="hidden" name="uploadfileid" />
                    <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری برگه مالیات بر ارزش افزوده</button>
                </div>
            </div>
        </div>
    </form>

    <h5 class="active-text mb-4 mt-5">بارگذاری مدارک</h5>

    <div class="row">
        <form id="form_login" data-docid="2" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin2"
              data-ajax-complete="onComplete2"
              data-ajax-failure="onFailed2"
              data-ajax-success="onSuccess2">
            <div class="col-sm-12 form-group mb-4 p-10 uprow2">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر روی کارت ملی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="2" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر روی کارت ملی</button>
                <a class="btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
            </div>
        </form>

        <form id="form_login" data-docid="3" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin3"
              data-ajax-complete="onComplete3"
              data-ajax-failure="onFailed3"
              data-ajax-success="onSuccess3">
            <div class="col-sm-12 form-group mb-4 p-10 uprow3">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر پشت کارت ملی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="3" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر پشت کارت ملی</button>
                <a class="btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
            </div>
        </form>

        <form id="form_login" data-docid="4" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin4"
              data-ajax-complete="onComplete4"
              data-ajax-failure="onFailed4"
              data-ajax-success="onSuccess4">
            <div class="col-sm-12 form-group mb-4 p-10 uprow4">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر کارت صنایع دستی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="4" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر کارت صنایع دستی</button>
                <a class="btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
            </div>
        </form>

    </div>

    <div class="form-group text-center mt-3">
        <button type="button" id="gotowelcome" class="btn btn-info btn-lg mb-2 mt-4 pl-5 pr-5 border-radius-10">ثبت نهایی</button>
    </div>


</div>

@section Scripts{
    <script>

        $("input[name=maliatRadioOptions]").on("click", function () {
            if ($("input[name=maliatRadioOptions]:checked").val() == "1") {
                $("#maliyatdoc").removeClass("d-none");
            } else {
                $("#maliyatdoc").addClass("d-none");
            }
        });

        var uploadjson = {
            doc1: null,
            doc2: null,
            doc3: null,
            doc4: null
        };
        // rkey
        var GetDocumentListbyRkey = () => {
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Seller/Account/GetDocumentListbyRkey",
                    data: { rkey: 1 },
                    success: function (result) {

                        if (result.data != null) {
                            $.each(result.data.objList, function (e, v) {
                                if (v.id == 1) {
                                    $("#docMaliyat").removeClass("d-none");
                                    uploadjson.doc1 = false;
                                }
                                else if (v.id == 2) {
                                    if (v?.isRequired == "true") {
                                        $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        uploadjson.doc2 = false;
                                    }

                                    $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                }
                                else if (v.id == 3) {
                                    if (v?.isRequired == "true") {
                                        $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        uploadjson.doc3 = false;
                                    }

                                    $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                }
                                else if (v.id == 4) {
                                    if (v?.isRequired == "true") {
                                        $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        uploadjson.doc4 = false;
                                    }

                                    $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                }
                            });
                        }


                        if (result.data == null || result.data.objList.length == 0)
                            $(".lastSeenBox").addClass("d-none");
                        else
                            $(".lastSeenBox").removeClass("d-none");
                    }
                });
            } catch (e) {
            }
        }

        function onBegin1(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess1(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow1").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc1 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed1() { }

        function onComplete1(re) {
            console.log(re);
        }

        failed1 = function (xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        };
        //===============================================================
        function onBegin2(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess2(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow2").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc2 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed2() { }

        function onComplete2(re) {
            console.log(re);
        }
        //===============================================================
        function onBegin3(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess3(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow3").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc3 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed3() { }

        function onComplete3(re) {
            console.log(re);
        }
        //===============================================================
        function onBegin4(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess4(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow4").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc4 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed4() { }

        function onComplete4(re) {
            console.log(re);
        }

        GetDocumentListbyRkey();

        $("#gotowelcome").on("click", function () {
            var isOk = true;
            if (uploadjson.doc1 != null) {
                if (uploadjson.doc1 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" },{type:'danger'}); }
            }

            if (uploadjson.doc2 != null) {
                if (uploadjson.doc2 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (uploadjson.doc3 != null) {
                if (uploadjson.doc3 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (uploadjson.doc4 != null) {
                if (uploadjson.doc4 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (isOk == true)
                window.location = "/seller/account/welcome";
        });
    </script>
}
