@model HandiCrafts.Web.Areas.Seller.Models.Account.PersonalInformationVModel
@{
    ViewData["Title"] = "تکمیل مدارک صنعتگر";
    Layout = "~/Areas/Seller/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{
    <style>
        .button-wrapper {
            position: relative;
            width: 220px;
            text-align: center;
            background: #63c4d0;
        }

            .button-wrapper span.label {
                position: relative;
                z-index: 0;
                display: inline-block;
                width: 100%;
                cursor: pointer;
                color: #fff;
                padding: 2px 0;
                text-transform: uppercase;
                font-size: 12px;
            }

        input[name=upload] {
            display: inline-block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50px;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .reg_login_content_mainform {
            width: 100%;
        }

        .color-firouzi {
            color: #16a9b9 !important;
        }
    </style>
}

<div class="reg_login_content_mainform reg_login_content0000 ml-auto comp-info force-overflow">

    <div asp-validation-summary="All"></div>
    <div class="alert alert-danger d-none" id="errorbox"></div>
    <input type="hidden" asp-for="UserId" />

    <form id="form_login" data-docid="1" class="kt-form" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
          enctype="multipart/form-data"
          data-ajax-method="POST"
          data-ajax="true"
          data-ajax-begin="onBegin1"
          data-ajax-complete="onComplete1"
          data-ajax-failure="onFailed1"
          data-ajax-success="onSuccess1">

        <div id="docMaliyat" class="d-none">
            <h5 class="active-text mb-4 mt-5">مالیات بر ارزش افزوده</h5>

            <div class="row">
                <div class="col-sm-12 form-group mb-4">
                    <label>آیا مشمول مالیات بر ارزش افزوده می باشید؟</label>
                    <div class="input-group mb-2 height-40px reg-element">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="maliatRadioOptions" value="1" checked>
                            <label class="form-check-label mr-5 ml-0" for="inlineRadio1">بلی</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="maliatRadioOptions" value="2">
                            <label class="form-check-label mr-5 ml-0" for="inlineRadio2">خیر</label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="maliyatdoc" class="row">
                <div class="col-sm-12 form-group mb-4 p-10 uprow1">
                    <div class="button-wrapper btn border-radius-10">
                        <span class="label">
                            انتخاب فایل برگه مالیات بر ارزش افزوده
                        </span>
                        <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                    </div>
                    <input type="hidden" name="documentId" value="1" />
                    <input type="hidden" name="uploadfileid" />

                    <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری برگه مالیات بر ارزش افزوده</button>
                </div>
            </div>
        </div>
    </form>

    <h5 class="active-text mb-4 mt-5">بارگذاری مدارک</h5>

    <div class="row">
        <form id="form_login" data-docid="2" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin2"
              data-ajax-complete="onComplete2"
              data-ajax-failure="onFailed2"
              data-ajax-success="onSuccess2">
            <div class="col-sm-12 form-group mb-4 p-10 uprow2">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر روی کارت ملی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="2" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر روی کارت ملی</button>
                <a class="samplefile btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
                <div class="imgBox d-none">
                    <a class="showfilebtn btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده بارگذاری شده</a>
                    <input type="hidden" name="upfile" />
                </div>
            </div>
        </form>

        <form id="form_login" data-docid="3" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin3"
              data-ajax-complete="onComplete3"
              data-ajax-failure="onFailed3"
              data-ajax-success="onSuccess3">
            <div class="col-sm-12 form-group mb-4 p-10 uprow3">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر پشت کارت ملی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="3" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر پشت کارت ملی</button>
                <a class="samplefile btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
                <div class="imgBox d-none">
                    <a class="showfilebtn btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده بارگذاری شده</a>
                    <input type="hidden" name="upfile" />
                </div>
            </div>
        </form>

        <form id="form_login" data-docid="4" class="kt-form d-none" asp-action="UploadSellerDocument" asp-area="Seller" asp-controller="Account" method="post"
              enctype="multipart/form-data"
              data-ajax-method="POST"
              data-ajax="true"
              data-ajax-begin="onBegin4"
              data-ajax-complete="onComplete4"
              data-ajax-failure="onFailed4"
              data-ajax-success="onSuccess4">
            <div class="col-sm-12 form-group mb-4 p-10 uprow4">
                <div class="button-wrapper btn border-radius-10">
                    <span class="label">
                        انتخاب فایل تصویر کارت صنایع دستی
                    </span>
                    <input type="file" name="upload" class="upload-box" placeholder="انتخاب فایل">
                </div>
                <input type="hidden" name="documentId" value="4" />
                <input type="hidden" name="uploadfileid" />
                <button type="submit" name="submit" class="btn btn-info bg-cyan btn-md pb-2 pt-2 border-radius-10 min-width-200px">بارگذاری تصویر کارت صنایع دستی</button>
                <a class="samplefile btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده نمونه</a>
                <div class="imgBox d-none">
                    <a class="showfilebtn btn btn-link pb-2 pt-2 pl-0 pr-0 cyan ml-3" style="border-bottom:1px dashed #0094ff">مشاهده بارگذاری شده</a>
                    <input type="hidden" name="upfile" />
                </div>
            </div>
        </form>

    </div>

    <div class="form-group mt-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contractChk">
            <label class="form-check-label" for="contractChk">
                من این <a id="viewContract" data-toggle="modal" data-target="#showContractModal" class="color-firouzi border-bottom font-weight-bold" style="color: #d21818">قرارداد</a> را مطالعه کرده و با آن موافق هستم.
            </label>
        </div>
    </div>

    <div class="form-group text-center mt-3">
        <button type="button" id="gotowelcome" class="btn btn-info btn-lg mb-2 mt-4 pl-5 pr-5 border-radius-10">ثبت نهایی</button>
    </div>

    <div class="modal fade" id="showdocmodal" tabindex="-1" role="dialog" aria-labelledby="showdocmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">مشاهده فایل</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="docimagemain" src="" style="max-width:100%" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal bd-example-modal-lg fade" id="showContractModal" tabindex="-1" role="dialog" aria-labelledby="showContractModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">مشاهده قرارداد</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    شرکت طلایه داران شبکه آذربایجان در راستای حمایت از هنرمندان و صنعتگران حوزه ی صنایع دستی، توسعه کارآفرینی و بهبود فضای کسب و کار مجازی، در تاریخ <span id="satrtdate"></span>  مطابق مواد 10 و 219  قانون مدنی، بر اساس تعامل مشترک و حسن نیت و مفاد ذیل اقدام به انعقاد قرارداد می نماید.
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    ماده 1. طرفین قرارداد
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    شرکت طلایه داران شبکه آذربایجان (با مسئولیت محدود) به شماره ثبت 18069 و شناسه ملی 10200236660 و نشانی اینترنتی <a class="color-firouzi">www.Saraycrafts.ir</a> ، با نمایندگی جناب آقای حسین علی محمدی به عنوان رئیس هیات مدیره که از این پس در این قرارداد به اختصار «طلایه داران» نامیده می‏شود و
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    طرف دوم:
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    آقا/خانم: <span id="sellername"></span>
                                </p>
                                <p>
                                    شماره شناسنامه: <span id="sellershsh"></span>
                                </p>
                                <p>
                                    کد ملی: <span id="sellernationalcode"></span>
                                </p>
                                <p>
                                    به نشانی: <span id="selleraddress"></span>
                                </p>
                                <p>
                                    کدپستی: <span id="sellerpostalcode"></span>
                                </p>
                                <p>
                                    شماره تماس: <span id="sellerphone"></span>
                                </p>
                                <p>
                                    نشانی الکترونیکی: <span id="selleremail"></span>
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    که از این پس در این قرارداد «صنعتگر» نامیده می‏شود.
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    اقامتگاه قانونی و قراردادی صنعتگر همان است که در مقدمه این قرارداد ذکر شده است و درصورتی که صنعتگر نشانی خود به شرح فوق را تغییر دهد، باید حداقل 10 روز پیش از تغییر مراتب را کتباً به  طرف دیگر اطلاع دهد و تا آن زمان نشانی سابق واجد اعتبار است. اقامتگاه قانونی و قراردادی شرکت طلایه داران شبکه آذربایجان همان است که در روزنامه رسمی آخرین تغییرات آن شرکت درج گردیده است. طرف مقابل موظف می باشد به هنگام ارسال هرگونه مکاتبه و یا مراوده ای، آخرین تغییرات روزنامه رسمی شرکت طلایه داران شبکه آذربایجان را ملاحظه نماید و آن آدرس را به عنوان اقامتگاه قانونی شرکت طلایه داران شبکه آذربایجان لحاظ نماید.
                                </p>
                            </div>

                            <div class="col-12">
                                <p>
                                    ماده 2. تعاریف
                                </p>
                                <p>
                                    2-1- کالای معیوب: عبارت است از هر گونه کالا یا هر بخش یا جزیی از آن که دارای ایراد، نقص و صدمه است.
                                </p>
                                <p>
                                    2-2- کالای تقلبی یا غیراصل:
                                </p>
                                <p>
                                    کالاهای ذیل، کالای تقلبی یا غیراصل محسوب می شوند:
                                </p>
                                <p>
                                    کالایی که با مدل اصلی آن کالا از نظر نام متشابه اما از نظر اصالت متفاوت است و یا هرگونه کالایی که از نظر جنس، کیفیت و غیره با کالای اصلی که مورد تائید اداره کل میراث فرهنگی، گردشگری و صنایع دستی استان آذربایجانشرقی است مغایرت داشته باشد؛
                                </p>
                                <p>
                                    کالاهای مغایر با مقررات قوانین و مقررات و ضوابط و استانداردهای دولتی،عمومی و صنفی به ویژه مقررات بهداشتی؛
                                </p><p>
                                    کالاهای ناقض حقوق اشخاص ثالث از جمله حقوق مالکیت فکری.
                                </p><p>
                                    2-3- بازار آنلاین و بازار آفلاین: بازار آنلاین بازاری است که در آن کالا در بستر اینترنت و به صورت برخط (آنلاین)، عرضه می شود و به فروش می رسد. بازار آفلاین بازاری است که در آن، کالا مستقل از اینترنت و به  صورت سنتی در فروشگاه ها و مراکز توزیع عرضه می شود و به فروش می رسد.
                                </p><p>
                                    2-4- پنل صنعتگر: فضای مجازی با درگاه اختصاصی هر صنعتگر است که از سوی طلایه داران به صنعتگر برای عرضه و فروش کالا تخصیص داده می شود.
                                </p><p>
                                    2-5- درگاه اینترنتی: وب سایت طلایه داران به آدرس <a class="color-firouzi">www.Saraycrafts.ir</a> می باشد.
                                </p><p>
                                    2-6- طلایه داران: شرکت طلایه داران شبکه آذربایجان (سهامی خاص) به شماره ثبت 18069 و شناسه ملی 10200236660 و نشانی اینترنتی <a class="color-firouzi">www.Saraycrafts.ir</a>.
                                </p><p>
                                    2-7- صنعتگر: هر شخصی است که با تایید این قرارداد به شرح پیوست نسبت به فروش محصولات و کالاهای خود از طریق درگاه اینترنتی اقدام می نمایید.
                                </p><p>
                                    2-8- قرارداد: قرارداد همکاری منعقده بین طلایه داران و صنعتگر، بر اساس شرایط این قرارداد حاضر و به شرح پیوست است.

                                </p><p>
                                    ماده 3. موضوع قرارداد
                                </p><p>
                                    عبارت است از واسطه گری در فروش محصولات و کالاهای صنعتگر به خریداران از طریق در اختیار قرار دادن درگاه اینترنتی.
                                </p><p>
                                    ماده 4. مدت قرارداد
                                </p><p>
                                    از تاریخ <span id="sellerFromDate"></span> تا <span id="sellerToDate"></span> می باشد.
                                </p><p>
                                    تبصره 1: این قرارداد در پایان مدت برای مدت مشابه بصورت خود به خود به مدت یک سال تمدید خواهد شد مگر اینکه یکی از طرفین حداقل یک هفته قبل از انقضاء مدت عدم تمایل خود را نسبت به تمدید به طرف دیگر به صورت کتبی اعلام نماید. در صورت عدم اعتبار یا اتمام گواهی ارزش افزوده در زمان مشخص و مقرر تمدید نشده و صنعتگر امکان فروش از طریق پنل را نداشته و به تشخیص طلایه داران پرداخت های صنعتگر متوقف خواهد شد.
                                </p><p>
                                    ماده 5. کمیسیون و هزینه های فروش
                                </p><p>
                                    5-1- کمیسیون طلایه داران: درصدی از بهای فروش کالا است که بابت عرضه کالا در درگاه اینترنتی طلایه داران و به شرح مندرج در جدول کمیسیون ها در پنل صنعتگر به طلایه داران تعلق می گیرد. نظر به اینکه درصد مذکور پیش از درج کالا در پنل برای صنعتگر قابل رویت است، صنعتگر با ثبت و یا درج کالا در پنل، درصد مذکور را نیز به عنوان حق الزحمه و کمسیون طلایه داران تائید می کند و می پذیرد. طلایه داران می تواند نسبت به وصول کمیسیون خود از محل مطالبات صنعتگر به همراه مالیات بر ارزش افزوده متعلقه اقدام نماید.
                                </p><p>
                                    5-2- هزینه های جانبی مربوط به هزینه های مرجوعی و همچنین جریمه ها (بر اساس ضوابط کاری طلایه داران به شرح مندرج در این قرارداد و نیز ضوابط مندرج در پنل صنعتگر) به شرح مندرج در جدول هزینه ها به همراه مالیات بر ارزش افزوده متعلقه به عهده صنعتگر بوده و از صنعتگر دریافت خواهد شد.
                                </p><p>
                                    تبصره 2: امکان تغییر کمیسیون، هزینه ها و جریمه ها در هر زمان توسط طلایه داران در پنل صنعتگر وجود دارد و صنعتگر قادر به مشاهده سوابق تغییرات آن خواهد بود. تغییرات در کمیسیون، هزینه ها و جریمه ها دو روز قبل از اعمال از طریق پنل صنعتگر یا ایمیل به اطلاع صنعتگر خواهد رسید و ادامه روند فروش توسط صنعتگر پس از اعمال تغییرات به منزله پذیرش شرایط جدید است و درحکم اصلاحیه این قرارداد است که خود به خود با ادامه روند فروش مورد توافق طرفین قرار گرفته است و نیاز به تشریفات امضا و ابلاغ جداگانه ای برای لازم الاجرا بودن ندارد.
                                </p><p>
                                    تبصره 3: صنعتگر متعهد شد جهت آگاهی از هرگونه تغییرات، هر روز پنل صنعتگر خود را مشاهده کند و طلایه داران هیچگونه مسئولیتی نسبت به ادعای عدم آگاهی صنعتگر از تغییرات نداشته و صنعتگر ملزم به تبعیت از تغییرات است. هرگونه اصلاحیه یا الحاقیه یا تغییر از جمله تغییرات در هزینه ها و جریمه ها، در پنل صنعتگر قرار خواهد گرفت و اطلاعیه از طریق پنل یا پست الکترونیک صنعتگر به نشانی مندرج در پنل ارسال خواهد شد. تغییرات فوق ظرف دو روز از تاریخ ارسال اطلاعیه و تغییرات پنل لازم الاجرا خواهد بود مگر اینکه صنعتگر ظرف مهلت مذکور عدم موافقت خود را اعلام نموده باشد، که در اینصورت  قرارداد فسخ خواهد شد.
                                </p><p>
                                    ماده 6. نحوه اجرای قرارداد
                                <p>
                                    6-1- قراردادها متناسب با مدت مندرج در آن به صورت اتوماتیک تمدید می شود. در صورت عدم تمایل هریک از طرفین مبنی بر تمدید اتوماتیک قرارداد، مراتب باید از یک هفته قبل از انقضا به صورت کتبی به طرف دیگر اعلام گردد. در صورت عدم اعتبار گواهی ارزش افزوده قرارداد تمدید نشده و صنعتگر امکان فروش از طریق پنل را نداشته و به تشخیص طلایه داران پرداخت های صنعتگر متوقف خواهد شد.
                                </p>
                                <p>
                                    6-2- سفارشات خرید مشتری، با توجه به موجودی اختصاص داده شده توسط صنعتگر در پنل صنعتگر، برای وی قابل  رؤیت است و صنعتگر موظف است سفارشات ثبت شده را با توجه به ضوابط و زمان تعیین شده در پنل خود، به صورت محموله آماده، در لفاف مناسبی بسته بندی کرده و به انبار طلایه داران یا نشانی مشتری در صورت تأیید طلایه داران در پنل، ارسال نماید. نشانی انبار طلایه داران به صنعتگر اعلام خواهد شد و در صورتیکه نشانی اعلام شده تغییر یابد طلایه داران به صنعتگر اعلام خواهد کرد و صنعتگر مکلف به تبعیت از تغییرات بعدی است.
                                </p>
                                <p>
                                    6-3- نگهداری کالای مشتریان در انبار طلایه داران به صورت امانی بوده و غیر از تعدی یا تفریط، مسئولیتی متوجه طلایه داران نمی باشد. هزینه نگهداری وفق جدول مندرج در پنل محاسبه و از صنعتگر دریافت می شود. طلایه داران می­تواند کلیه مطالبات خود ناشی از این بند یا سایر مفاد این قرارداد را راساً از محل مطالبات صنعتگر کسر نماید و یا طبق تبصره 9 ماده 10 عمل نماید. در هر صورت حق مطالبه مابقی و یا کلیه ی هزینه ها و مطالبات طلایه داران از طریق مراجع قضایی برای طلایه داران وجود دارد.
                                </p>
                                <p>
                                    6-4- این قرارداد حق انحصاری جهت فروش برای فروشندگان ایجاد نمی نماید و هیچ گونه اعتراضی نسبت به فروش کالا و نیز بهای کالاهای در حال فروش توسط فروشندگان دیگر، قابل استماع نمی باشد.
                                </p>
                                <p>
                                    6-5- وجه ناشی از فروش کالا توسط خریدار به حساب طلایه داران واریز می­شود و مسئولیت صدور فاکتور فروش و سند برگشت از فروش برای مشتری مطابق بخشنامه سازمان امور مالیاتی و رای دفتر فنی و اعتراضات مودیان بر عهده طلایه داران است که طلایه داران مطابق رای دفتر فنی و اعتراضات مودیان برای کالای فروش رفته به نیابت از صنعتگر، فاکتور فروش موضوع قانون مالیات های مستقیم را صادر و برای مشتری ارسال می نماید و نیز صورت حساب خدمات ارائه شده از سوی طلایه داران به صنعتگر، توسط طلایه داران به نام صنعتگر صادر می شود. طلایه داران درآمدهای حاصل از ارائه خدمات خود به صنعتگر و قراردادهای منعقده با صنعتگر را جهت رعایت مفاد مواد 169 و 169 مکرر قانون مالیات های مستقیم، به سازمان امور مالیاتی گزارش خواهد کرد.
                                </p>
                                <p>
                                    6-6- با تایید این قرارداد صنعتگر به شرکت طلایه داران شبکه آذربایجان (طلایه داران) مخیرا وکالت می دهد که جهت رضایتمندی خریداران، نیابتا از طرف صنعتگر اقدام به صدور فاکتور در خصوص اقلامی که توسط صنعتگر در فضای مجازی مذکور به فروش می رسد نماید. لازم به ذکر است که صنعتگر کلیه ی مسئولیت های ناشی از صدور فاکتور مذکور و فروش کالا بر روی وبسایت شرکت طلایه داران شبکه آذربایجان (طلایه داران) را بر عهده داشته و در صورت لزوم، متعهد به حضور و پاسخگویی در مراجع اداری و قضایی بوده و همچنین ضامن جبران خسارات وارده به اشخاص ثالث و طلایه داران می باشد و شرکت طلایه داران در خصوص موارد فوق فاقد هرگونه مسئولیتی می باشد.
                                </p><p>
                                    6-7- قیمت کالاها با توجه به رعایت استانداردهای قیمت گذاری (با توجه به قوانین و مقررات اعلامی از طرف سازمانهای نظارتی و بررسی قیمت های رقبای بازار توسط طلایه داران و با تائید اداره کل میراث فرهنگی،گردشگری و صنایع دستی ) در پنل صنعتگر و به مسئولیت صنعتگر تعیین می شود. لذا مسئولیت پاسخگویی به مراجع رسمی و اشخاص ثالث از جمله مشتری در خصوص قیمت تعیین شده، بر عهده صنعتگر است. به موجب این قرارداد، صنعتگر به عنوان شرط ضمن عقد اعلام می نمایند که نسبت به فروش کالاهای خود در درگاه اینترنتی طلایه داران کلیه خیارات از جمله غبن ولو فاحش یا افحش را از خود سلب و ساقط نمودند.
                                </p><p>
                                    6-8- در صورتی که صنعتگر مشمول مالیات بر ارزش افزوده بوده و دارای گواهینامه مالیات بر ارزش افزوده بارگذاری شده در پنل باشد، متعهد است در صورت پایان تاریخ اعتبار گواهینامه مذکور، نسبت به تمدید آن و بارگذاری نسخه معتبر در پنل اقدام نماید. درصورت عدم بارگذاری گواهینامه مالیات بر ارزش افزوده معتبر تا قبل از پایان تاریخ اعتبار گواهینامه قبلی، پرداخت های صنعتگر از تاریخ پایان اعتبار گواهینامه مسدود خواهد شد تا زمانی که صنعتگر گواهینامه معتبر در پنل بارگذاری کند. لازم به ذکر است که صنعتگر ای که مشمول مالیات بر ارزش افزوده باشد، پس از اتمام اعتبار گواهینامه مالیات بر ارزش افزوده همچنان مشمول مالیات ارزش افزوده بوده و با تمدید گواهینامه، تاریخ آغاز گواهی جدید از تاریخ مشمولیت شخص حقیقی یا حقوقی خواهد بود. در صورت عدم تمدید گواهینامه مالیات بر ارزش افزوده و لغو قرارداد از سمت صنعتگر یا طلایه داران، 9 درصد مالیات بر ارزش افزوده از حساب صنعتگر کسر شده و مابقی پس از کسر وجوه التزام و خسارات به ایشان پرداخت خواهد شد.
                                </p><p>
                                    6-9- در صورت اشتباه صنعتگر و درج قیمت به بهای پایین تر از قیمت واقعی، وی متعهد است کالا را با همان قیمت درج شده تحویل مشتری نماید و در صورت استنکاف، مشمول وجه التزام و ضمانت اجرای مذکور در ماده 9 در خصوص عرضه کالای ناموجود می شود. درهر حال پاسخگویی به خریدار در مراجع رسمی به عهده صنعتگر است.
                                </p><p>
                                    6-10- صنعتگر اظهار می نماید که با عرضه کالا در پنل اختصاصی خود در درگاه اینترنتی طلایه داران، حقوق مالکیت فکری یا سایر حقوق و امتیازات مکتسبه متعلق به هیچ شخص حقیقی و حقوقی دیگری را نقض نکرده است و در صورت کشف خلاف این موضوع، کلیه مسئولیت های حقوقی و کیفری بر عهده وی خواهد بود و باید کلیه خسارات وارده به طلایه داران را در این خصوص جبران نماید.
                                </p><p>
                                    6-11- نام تجاری صنعتگر جهت درج در سایت، نام تجاری اعلامی از طرف صنعتگر در پنل او می باشد و صنعتگر در این راستا اظهار می نماید مالکیت مادی و معنوی نام تجاری مذکور متعلق به شخص حقیقی و حقوقی دیگری نیست و در صورت کشف خلاف این موضوع، کلیه مسئولیت های حقوقی و کیفری بر عهده صنعتگر خواهد بود. در صورتی که صنعتگر ظرف مدت 3 روز از اعلام طلایه داران مبنی بر مراجعه جهت پاسخگویی به مراجع مربوطه مراجعه ننماید، موظف به پرداخت وجه التزام روزانه (طبق ماده 9) به طلایه داران می باشد.
                                </p><p>
                                    ماده 7. تعهدات و حقوق صنعتگر
                                </p><p>
                                    7-1- صنعتگر متعهد است مدارک درخواست شده در خصوص احراز هویت و مدارک موثق و معتبر ثبتی و نیز گواهینامه­های صنفی، حرفه ای، بهداشتی (در صورت لزوم)، استاندارد و سایر مدارک به شرح پنل را بارگذاری و در صورت لزوم آن­ها را به روزرسانی نماید. عدم بارگذاری یا به روزرسانی اسناد به طور صحیح، علاوه بر ایجاد حق فسخ برای طلایه داران (پس از اخطار رفع نقص) این حق را برای طلایه داران ایجاد می­کند که کلیه پرداخت ها را تا زمان رفع نواقص مدارک معلق و دسترسی صنعتگر را به پنل صنعتگر قطع نماید.
                                </p><p>
                                    7-2- صنعتگر حقیقی می تواند همزمان با انعقاد این قرارداد، شخصی را به عنوان نماینده خود جهت ارتباط و هماهنگی با طلایه داران معرفی نماید.
                                </p><p>
                                    7-3- صنعتگر حقوقی موظف است همزمان با انعقاد این قرارداد، شخصی را به عنوان نماینده خود جهت ارتباط و هماهنگی با طلایه داران معرفی نماید.
                                </p><p>
                                    7-4- صنعتگر متعهد به رعایت تمامی اصول و مقررات قانون رقابت و شرایط خاص صنفی مرتبط با فعالیت خود می باشد.
                                </p><p>
                                    7-5- صنعتگر موظف است مشخصات محصولات و توضیحات لازم جهت معرفی کالا، نحوه پشتیبانی پس از فروش و سایر موارد لازم را در درگاه اینترنتی براساس شرایط اعلامی طلایه داران ارائه نماید. صنعتگر مسئولیت صحت اطلاعات و تضمین اصالت و کیفیت خدمات را شخصاً بر عهده دارد و بدین وسلیه متعهد گردید در قبال تخلفات خود علاوه بر حضور در مراجع رسمی و پاسخگویی، طلایه داران را در قبال مسئولیت و هزینه هرگونه دعوای طرح شده توسط ثالث مصون نماید.
                                </p><p>
                                    7-6- صنعتگر متعهد می­شود که کالاهای مورد درخواست مشتری را بدون وقفه و در موعد مقرر ارسال نماید، و به هیچ دلیلی اعم از نوسانات نرخ ارز، عدم موجودی، اشتباه در مشخصات و غیره از تحویل آن استنکاف نورزد. در غیر این صورت طلایه داران می تواند بنا به تشخیص خود، خسارات ناشی از تأخیر در اجرای تعهدات را (براساس ماده 9) از صنعتگر مطالبه و یا از محل مطالبات وی کسر و برداشت نماید. علاوه بر این طلایه داران می تواند اقدام به قطع همکاری کند. قطع همکاری نافی حقوق قراردادی طلایه داران درخصوص محاسبه و کسر جرائم و تاخیرات از محل مطالبات و تضامین صنعتگر نمی­باشد.
                                </p><p>
                                    7-7- از آنجا که طبق مقررات قانون تجارت الکترونیک، صنعتگر متعهد به رعایت مهلت هفت روزه جهت انصراف مشتری و استرداد کالا می باشد، صنعتگر با تایید تعهدات ناشی از مقررات موصوف و سایر مقررات مربوط به این نوع تجارت، متعهد می باشد کالاهای مرجوعی را بپذیرد. مسئولیت هرگونه تخلف از این مقررات با صنعتگر بوده و صنعتگر متعهد به پاسخگویی به دعاوی می باشد. حتی اگر مشتریان به هر دلیل دعاوی خود را در خصوص عدم رعایت موازین قانونی علیه طلایه داران طرح کنند و تحت هر شرایطی طلایه داران به دلیل عملکرد مرتبط با صنعتگر منفرداً یا متضامناً محکوم گردید، صنعتگر موظف است علاوه بر حضور در مراجع رسمی و پاسخگویی طلایه داران را درخصوص موضوعات قضائی و هزینه ها و خسارات آن مصون نماید و این هزینه ها را مسترد نماید.
                                </p><p>
                                    7-8- صنعتگر در صورت اعلام مشتری مبنی بر عیب، کاستی یا نقص کالا، متعهد به اجرای صحیح تعهدات و پاسخگویی به مشتری و جلب رضایت وی بر اساس نظر طلایه داران است و در صورت درخواست مشتری نسبت به جایگزین کردن یا رفع نقص آن، ظرف مدت 2 روز کاری اقدام نماید. چنانچه صنعتگر ظرف مدت مذکور اقدام لازم را معمول نداشته یا مشتری با پس دادن کالا تقاضای استرداد وجه را داشته باشد، طلایه داران نسبت به عودت وجه به مشتری اقدام می نماید و صنعتگر بدینوسیله حق هرگونه اعتراض نسبت به استرداد وجه به مشتری و عدم استرداد کالا از سوی خریدار را از خود سلب و ساقط می نماید. صنعتگر می پذیرد هزینه ناشی از استرداد کالاهای معیوب یا ناقص توسط مشتری، از مطالبات صنعتگر کسر و توسط طلایه داران برداشت خواهد شد.
                                </p><p>
                                    7-9- صنعتگر متعهد می شود که هیچ گونه کالای تقلبی یا غیراصل را به عنوان کالای اصل در سایت درج نکرده و تحویل مشتری ندهد. در غیر این صورت صنعتگر موظف است مطابق ماده 9، هرگونه وجه التزام عدم انجام تعهد را به طلایه داران پرداخت نماید و در این صورت، طلایه داران می تواند ضمن قطع فوری دسترسی صنعتگر به پنل، نسبت به فسخ قرارداد اقدام نماید و صنعتگر بدینوسیله حق هرگونه اعتراضی را از خود سلب و ساقط می نماید.
                                </p><p>
                                    7-10- صنعتگر تضمین می‏کند که اولاً تنوع، تعداد، قیمت، کیفیت، مشخصات و عملکرد معمول کالاها به ترتیب اعلام شده در درگاه اینترنتی است و کالاها با اطلاعات انتشار یافته در مورد آن ها کاملاً تطبیق دارد، ثانیا، کالاهای فروخته شده به هیچ عنوان کالاهای دست دوم (ریپک یا غیرآکبند)، مرجوعی (ریفرش) و یا مجددا فروخته شده نمی باشد. صنعتگر مسئول جبران خسارات وارده و دعوای طرح شده از سوی مشتریان در خصوص موارد مذکور در این بند خواهد بود و مسئولیتی در این خصوص متوجه طلایه داران نخواهد بود.
                                </p><p>
                                    7-11- صنعتگر مطابق بخشنامه سازمان امور مالیاتی نیازی به صدور صورتحساب فروش موضوع آئین نامه اجرایی ماده 95 قانون مالیات های مستقیم ندارد و فروش های صورت پذیرفته توسط طلایه داران به نیابت از خود را در سامانه معاملات فصلی به نام طلایه داران شبکه آذربایجان ارسال خواهد نمود.
                                </p><p>
                                    7-14- صنعتگر موظف است در خصوص کالاهای ملزم به داشتن گارانتی، کالا را با گارانتی مجاز در پنل عرضه نماید. تاریخ شروع گارانتی از زمان صدور فاکتور توسط طلایه داران آغاز می شود و صنعتگر موظف است اعتبار گارانتی را از زمان فروش کالا محاسبه کند. در غیر اینصورت مسئولیت پاسخگویی به ادعاهای اشخاص ثالث (اعم از مشتری و سایر اشخاص و مراجع) را بر عهده دارد.
                                </p><p>
                                    7-15- صنعتگر اعلام و اظهار می دارد که در زمان انعقاد این قرارداد، مشمول هیچ ممنوعیت قانونی برای انعقاد  قرارداد نمی­باشد و چنانچه در هر زمانی به هر دلیلی مشمول ممنوعیت قرار گرفت، متعهد به اعلام ممنوعیت قانونی خود جهت اخذ تصمیم مقتضی به طلایه داران می باشد. در صورت عدم اعلام ممنوعیت، صنعتگر مسئول عواقب قانونی آن و جبران خسارات وارده به اشخاص ثالث و طلایه داران خواهد بود و طلایه داران هیچ مسئولیتی نداشته و نخواهد داشت.
                                </p><p>
                                    7-16- صنعتگر متعهد است صرفاً کالاهای موجود در انبار را در پنل صنعتگر اعلام نماید. معرفی کالای غیر موجود در پنل صنعتگر به عنوان کالای موجود ممنوع بوده و صنعتگر مسئول جبران خسارات وارده به طلایه داران و مشتری و پاسخگویی حقوقی و کیفری در مقابل مراجع قضایی و قانونی خواهد بود. در این حالت طلایه داران بنا به تشخیص خود علاوه بر اخذ وجه التزام قراردادی مندرج در ماده 9، راساً نسبت به قطع پنل صنعتگر به فوریت اقدام خواهد نمود.
                                </p><p>
                                    7-17- صنعتگر متعهد به حفظ محرمانگی نام کاربری و رمز عبور پنل صنعتگر بوده و برای جلوگیری از هرگونه سوء استفاده احتمالی، کلیه اقدامات لازم از جمله تغییر رمز عبور در دوره های متعارف و عدم افشای آن به اشخاص ثالث را مبذول خواهد داشت. بدیهی است مسئولیت هرگونه سهل انگاری در حفظ نام کاربری و رمز عبور، مسئولیت­های ناشی از استفاده از رمز عبور و به طور کل، کلیه ی فعالیت هایی که تحت حساب کاربری و یا رمز عبور انجام می­پذیرد بر عهده صنعتگر می­باشد. در صورت بروز هر گونه مشکل یا تخلف یا سوء استفاده اشخاص ثالث، صنعتگر مسئول و پاسخگوی نهادها و مراجع ذیربط و جبران هرگونه خسارت احتمالی وارده است و باید در اسرع وقت نسبت به تغییر رمز عبور اقدام نماید. صنعتگر موظف است هرگونه مشکل احتمالی را سریعاً به طلایه داران اعلام نماید و جهت حل و فصل آن همکاری لازم را داشته باشد. در غیر اینصورت مسئولیت هرگونه سوء استفاده از پنل یا خسارات ناشی از آن بر عهده صنعتگر است.
                                </p><p>
                                    7-18- صنعتگر متعهد است مقررات لازم الاجرا علی الخصوص قانون تجارت الکترونیک و نظامات مختص این قانون (از جمله ارائه کالاهای سالم به مشتری، حفظ مهلت هفت روزه انصراف، ارائه اطلاعات دقیق و جامع در مورد کالای عرضه  شده در فضای مجازی) و قوانین و مقررات مالیاتی، صنفی، جرائم رایانه ای و مجازات اسلامی و نیز قوانین و مقررات تعزیرات و امور گمرکی و صادرات و واردات و مبارزه با قاچاق را رعایت نماید و همچنین تأیید می نماید که مجوزهای قانونی و توانایی های لازم را برای این فعالیت ها دارا می باشد. صنعتگر ضمن آگاهی به این موضوع حق خود در خصوص هرگونه ادعای جبران خسارات را سلب و ساقط می نماید.
                                <p><p>
                                    7-19- صنعتگر موظف است در درج محتوای کالا در پنل خود، کلیه ی مقررات و شئون اخلاقی، اسلامی و قانونی را رعایت نموده و بدینوسیله مسئولیت هرگونه پاسخگویی در این خصوص به مراجع ذی صلاح یا اشخاص ثالث را می­پذیرد.
                                </p><p>
                                    7-20- در صورت تخلف از هر یک از تعهدات مندرج در این قرارداد، صنعتگر باید خسارات وارده به طلایه داران را جبران نماید و با تایید این قرارداد می پذیرد در صورت بروز تخلف و عدم رعایت مفاد این قرارداد، طلایه داران می­تواند به تشخیص خود راساً نسبت به قطع پنل اقدام نماید.
                                </p><p>
                                    7-21- مطالبات صنعتگر خواه ناشی از این قرارداد، خواه ناشی از هر منشا دیگر، نزد طلایه داران از جمله تضامین می­باشد و طلایه داران می­تواند هر یک از مطالبات خویش، هزینه ها و خسارات را راسا از محل مطالبات وی یا هر یک از تضامین نزد خود وصول نماید.
                                </p><p>
                                    7-22- صنعتگر حق واگذاری جزئی و کلی حقوق و تعهدات خود را به  موجب این قرارداد به اشخاص ثالث بدون موافقت کتبی و قبلی طرف دیگر، تحت هیچ عنوانی اعم از نمایندگی، وکالت، صلح حقوق و سایر عناوین نخواهد داشت و طلایه داران حق واگذاری را برای خود محفوظ می دارد.
                                </p><p>
                                    7-23- صنعتگر موظف است نسبت به کالاهای عودت شده از سوی مشتریان، کالاهای معیوب، کالاهایی که در اثنای همکاری فروش آن ها ممنوع و غیر قانونی شده است یا به هر علت موظف به استرداد آن می باشد، اقدامات لازم نسبت به تحویل کالا از انبار طلایه داران را ظرف مدت 45 روز پس از اعلام طلایه داران به ایشان از طریق پنل یا ایمیل، انجام دهد. در صورت مراجعه صنعتگر ظرف مهلت مقرر جهت استرداد کالاهای بندهای فوق، ابتدا هزینه های انبارداری و خسارات و وجوه التزام راسا توسط طلایه داران از مطالبات وی کسر و برداشت می شود و سپس کالا به ایشان عودت می گردد. اگر صنعتگر مشمول خدمات ارسال طلایه داران باشد، کالا توسط طلایه داران به ایشان ارسال می شود در غیر اینصورت باید شخصا برای دریافت کالا مراجعه نماید.
                                </p><p>


                                    7-24- درصورت تکرار نقض تعهد به مدت سه بار، طلایه داران می تواند ضمن قطع دسترسی صنعتگر به پنل حسب صلاحدید نسبت به فسخ قرارداد اقدام نماید. فسخ قرارداد مانع از مطالبه وجوه التزام و خسارات نخواهد شد.
                                </p><p>
                                    7-25- در صورتی که صنعتگر جهت دریافت و استرداد کالاهای شرح زیر اقدام ننماید:
                                </p><p>
                                    • کالاهایی که صنعتگر تقاضای استرداد آن از انبار را نموده است،

                                    • کالاهای عودت شده از سوی مشتریان،

                                    • کالاهای معیوب،

                                    • کالاهایی که در اثنای همکاری فروش آن ها ممنوع و غیر قانونی شده است،

                                    • یا کالاهایی که به هر علت با توجه به مفاد این قرارداد، موظف به استرداد آن می باشد،
                                </p><p>
                                    طلایه داران مسئولیتی جهت نگهداری این نوع کالا ها نخواهد داشت و اگر ظرف 14 روز پس از ارسال اخطار به صنعتگر از طریق پنل یا ایمیل مبنی بر تخلیه ی کالاها از انبار طلایه داران صنعتگر نسبت به استرداد کالاها اقدام ننماید، پرداخت کلیه ی صورتحساب های صنعتگر را متوقف نموده تا زمانی که صنعتگر نسبت به استرداد کالاهای فوق الذکر اقدام نماید.
                                </p><p>
                                    همچنین در صورتی که ظرف 45 روز پس از ارسال اخطار به صنعتگر از طریق پنل یا ایمیل نسبت به استرداد کالاها اقدام ننماید، طلایه داران عدم استرداد کالاها را به منزله اعراض صنعتگر از کالاهای فوق الذکر تلقی نموده و صنعتگر نیز با تایید این  قرارداد، این اختیار را به  طلایه داران می دهد تا کالای موجود در انبار را به نفع خود ضبط نموده و مطالبات خود را از محل آن برداشت کند. در این صورت صنعتگر  حق هرگونه ادعا و اعتراضی را از خود سلب و ساقط می نماید.
                                </p><p>
                                    7-26- صنعتگر متعهد به معرفی نماینده خود جهت آموزش و توجیه در خصوص نحوه استفاده از درگاه اینترنتی می باشد. متعاقباً صنعتگر با استفاده از پنل اعلام و اقرار می نماید که آموزش های لازم را فراگرفته و مسئولیت پنل را برعهده دارد و نمی تواند به ادعای ناآگاهی یا عدم اطلاع رسانی، ادعایی را علیه طلایه داران طرح نماید.
                                </p><p>
                                    ماده 8. تعهدات و حقوق طلایه داران
                                </p><p>
                                    8-1- طلایه داران به عنوان واسطه فضای مجازی کسب و کار و خدمات دهنده در خصوص امور جانبی و امین در نگهداری وجوه پرداختی حاصل از فروش، همکاری لازم را با صنعتگر در راستای عرضه کالاهای موضوع قرارداد در درگاه اینترنتی (معرفی، توصیف و عکس گذاری، ارسال آنها به مشتریان بالقوه و سایر خدمات به شرح مقرر در پنل صنعتگر) با اخذ هزینه­های مربوط مبذول خواهد داشت.
                                </p><p>
                                    8-2- طراحی درگاه اینترنتی، تعیین جایگاه کالا، نحوه معرفی، شیوه نمایش و تبلیغ کالا درصورت درخواست صنعتگر در قبال دریافت هزینه های مربوطه به شرح جدول هزینه ها و جریمه ها مندرج در پنل صنعتگر بر عهده طلایه داران خواهد بود.
                                <p><p>
                                    8-3- کلیه مطالب و تصاویر مندرج در درگاه اینترنتی در خصوص محصولات و کالاها، تحت کپی رایت و مالکیت فکری طلایه داران است. همچنین هرگونه بهره برداری، استناد و استفاده تجاری از آن ها، حتی برای مالک کالا، ممنوع بوده و طلایه داران حق خود را برای پیگیری قانونی نقض این موارد محفوظ می دارد. عکس ها و مطالب تولیدی توسط صنعتگر مشمول این مورد نخواهد شد.
                                </p><p>
                                    8-4- طلایه داران اقدامات و هماهنگی لازم را جهت آموزش و توجیه صنعتگر یا نمایندگان ایشان در خصوص نحوه استفاده از درگاه اینترنتی انجام خواهد داد و صنعتگر متعهد به حضور در جلسات اجباری می باشد، در غیر این صورت طلایه داران می تواند با تشخیص انحصاری خود پنل صنعتگر را به دلیل عدم حضور در جلسات آموزشی متوقف نماید و صنعتگر حق هیچگونه اعتراضی در این خصوص نخواهد داشت. متعاقباً صنعتگر با استفاده از پنل، اعلام و اقرار می­نماید که آموزش­های لازم را فراگرفته و مسئولیت پنل را برعهده دارد و نمی­تواند به ادعای ناآگاهی یا عدم اطلاع رسانی، ادعایی را علیه طلایه داران طرح نماید.
                                </p><p>
                                    8-5- وجوه ناشی از فروش کالا پس از کسر کمیسیون، هزینه ها و مطالبات قراردادی و تأیید واحد مالی طلایه داران، طبق زمان بندی مشخص شده در پنل صنعتگر به صنعتگر پرداخت می شود.
                                </p><p>
                                    تبصره 4: اگر روز پرداخت مصادف با پنجشنبه باشد، پرداخت در روز قبل یعنی چهارشنبه انجام خواهد شد. اگر روز پرداخت مصادف با جمعه یا تعطیلات رسمی باشد، پرداخت در روز کاری بعدی انجام خواهد شد.
                                </p><p>
                                    تبصره 5: کمیسیون، هزینه ­ها و مطالبات قراردادی طلایه داران همراه مالیات بر ارزش افزوده آنها محاسبه و از صنعتگر دریافت خواهد شد.
                                </p><p>
                                    تبصره 6: صنعتگر موظف به معرفی شماره حساب با کد شبا منطبق با نام خود، به طلایه داران می باشد. وجوه فوق الذکر صرفا به شماره حسابی که کد شبای آن به نام صنعتگر است واریز خواهد شد. در صورت عدم اعلام صنعتگر و یا عدم تطابق نام صنعتگر و صاحب کد شبا، طلایه داران مسئولیتی در تاخیر و یا عدم پرداخت وجوه ندارد.
                                </p><p>
                                    تبصره 7: طلایه داران مسئولیت و تعهدی در خصوص تکالیف قانونی و مالیاتی صنعتگر از جمله مالیات بر درآمد و ارزش افزوده کالا ندارد و صنعتگر در صورتیکه مشمول مقررات مالیات بر ارزش افزوده باشد، متعهد است در اعلام مبلغ قابل پرداخت توسط مشتری، مالیات بر ارزش افزوده را در نظر گرفته و نسبت به انجام تعهدات مالیاتی و ارائه مدارک و مستندات به حوزه مالیاتی مربوط به خود اقدامات مقتضی را مبذول نماید. در صورت عدم رعایت هر یک از تعهدات قانونی و مالیاتی از سوی صنعتگر، طلایه داران محق می ﺑاشد که خسارات وارده به خود را ﺑر حسب تشخیص خود از محل مطالبات صنعتگر یا تضامین وی راساً و ﺑدون نیاز ﺑه مراجعه ﺑه مراجع قانونی وصول نماید.
                                </p><p>
                                    8-6- طلایه داران در راستای ارائه هرگونه خدمات به فروشندگان، هزینه های مربوطه را مطابق با جدول کمیسیون و هزینه ها مندرج در پنل فروشندگان، در ازای صدور فاکتور از صنعتگر دریافت می نماید. فاکتور طلایه داران می تواند به صورت الکترونیک روی پنل باشد و صنعتگر ظرف 5 روز کاری پس از صدور فاکتور مهلت دارد تا مراتب اعتراض خود را اعلام نماید. بدیهی است در صورت اعتراض موارد توسط طلایه داران بررسی و در صورت صلاحدید در فاکتور بعدی اصلاح می گردد.
                                </p><p>
                                    8-7- طلایه داران می تواند حقوق و تعهدات خود ناشی از این قرارداد را به اشخاص ثالث منتقل کند.
                                </p><p>
                                    8-8- طلایه داران حق تغییر «شرایط قرارداد» را در هر زمانی داشته و این تغییرات و همچنین اطلاعیه ها و ابلاغیه ها توسط طلایه داران در پنل اختصاصی صنعتگر اعلام می شود که به منزله ی ابلاغ به «صنعتگر» می باشد. «فروشندگان» متعهد هستند تمامی اطلاعیه ها را با دقت مطالعه نموده و طبق آن عمل نمایند. تغییرات به طور خودکار روی پنل اختصاصی صنعتگر قرار گرفته و به منزله ی اصلاحیه و الحاقیه این قرارداد  محسوب شده و «صنعتگر» متعهد به رعایت مقررات به روز شده می باشد و نیاز به هیچگونه تشریفات دیگری جهت امضا و ابلاغ نمی باشد.
                                </p><p>



                                    ماده 9. وجه التزام
                                </p><p>
                                    درصورتی که صنعتگر هریک از تعهدات قراردادی خود را در موعد مقرر یا به طور صحیح انجام ندهد یا اقدامات وی به هر دلیل منجر به ورود خدشه به اعتبار یا شهرت طلایه داران گردد، طلایه داران حق دارد وجوه التزام به شرح ذیل را با توجه به جدول موجود در پنل صنعتگر محاسبه و از صنعتگر  مطالبه یا راساً از مطالبات صنعتگر کسر کند:
                                </p><p>
                                    الف- وجه التزام فروش کالای غیر اصل
                                </p><p>
                                    ب- وجه التزام فروش کالای قاچاق، ممنوعه، غیر بهداشتی مضر
                                </p><p>
                                    پ- وجه التزام لغو سفارش مشتری توسط صنعتگر به دلایلی از قبیل عدم موجودی کالا در انبار صنعتگر، فروش کالاهای ممنوعه، تاخیر در تامین و ارسال کالا از سمت صنعتگر، اشتباه در قیمت گذاری و سایر دلایل به تشخیص طلایه داران،
                                </p><p>
                                    ت- وجه التزام تاخیر در ارسال کالا (از تاریخ مقرر در پنل برای تحویل به انبار)،
                                </p><p>
                                    ث- وجه التزام مغایرت کالا و محموله ارسالی با سفارش ثبت شده و محموله ثبت شده در پنل، در هنگام ورود به انبار،
                                </p><p>
                                    ج- وجه التزام مرجوعی کالا توسط مشتری به دلایلی از قبیل مغایرت محتوایی، معیوب بودن کالا، کالای تقلبی یا غیراصل و سایر دلایل به تشخیص طلایه داران،
                                </p><p>
                                    چ- وجه التزام تاخیر در بازپس گیری و تعیین تکلیف کالا توسط صنعتگر به دلایلی از قبیل معیوب بودن، ناقص بودن، مسترد شدن از طرف خریدار یا به هر دلیل به تشخیص طلایه داران مشمول بازپس گیری از انبار شدند.
                                </p><p>
                                    تبصره 8: وجوه التزام مذکور با الزام صنعتگر به انجام تعهد اصلی قابل جمع بوده و بدل آن نمیباشد.
                                </p><p>
                                    ماده 10. موارد فسخ قرارداد
                                </p><p>
                                    10-1-هر یک از طرفین می تواند در صورت انحلال یا ورشکستگی طرف مقابل قرارداد را فسخ و مراتب را اعلام نماید.
                                </p><p>
                                    10-2- طلایه داران می تواند در موارد زیر بنا به تشخیص خود و بدون نیاز به مراجعه به مرجع حل و فصل اختلاف، ضمن قطع فوری دسترسی صنعتگر به پنل، قرارداد را فورا فسخ نماید. فسخ قرارداد مانع از مطالبه خسارات و وجوه التزام از سوی طلایه داران نمی باشد.
                                </p><p>
                                    10-2-1- درصورت نقض تعهدات صنعتگر طبق این قرارداد و عدم رفع آن ظرف مدت 10 روز از تاریخ ارسال اخطار کتبی الکترونیکی در پنل یا از طریق ایمیل؛
                                </p><p>
                                    10-2-2-درصورتی که مشخص شود صنعتگر در صدد تطمیع، اغوا یا ارائه هرگونه پیشنهاد نامشروع به هریک از کارکنان طلایه داران بر آمده است؛
                                </p><p>
                                    10-2-3-واگذاری قرارداد به شخص ثالث از سوی صنعتگر.
                                </p><p>
                                    10-3- علاوه بر موارد مذکور در فوق، طلایه داران می تواند در صورت عدم تمایل به ادامه با طرف مقابل، راساً و بدون نیاز به مراجعه به مرجع حل اختلاف در طول مدت قرارداد، ضمن قطع فوری پنل، رابطه قراردادی خود با صنعتگر را بدون هرگونه مسئولیت درخصوص پرداخت خسارات تحت هر عنوان، فسخ کند. در این موارد، صنعتگر اعلام و اقرار نمود که طلایه داران حق دارد طبق صلاحدید خود عمل نموده و خساراتی تحت هر عنوان، قابل ادعا از سوی صنعتگر نمی باشد.
                                </p><p>
                                    تبصره 9: در صورت فسخ یا  خاتمه قرارداد، کالاهای باقی مانده در انبار طلایه داران بعد از تسویه حساب، با ارائه صورتحساب و رسید کتبی به صنعتگر مسترد خواهد شد. چنانچه ظرف پنج روز از تاریخ خاتمه قرارداد، صنعتگر مطالبات طلایه داران بابت خسارات، وجوه التزام و یا سایر مطالبات را تسویه ننماید، صنعتگر با تایید قرارداد این اختیار را به طلایه داران می دهد تا کالای موجود در انبار به نفع خود ضبط نموده و مطالبات خود را از محل آن برداشت کند.
                                </p><p>
                                    ماده 11. قوه قاهره (فورس ماژور)
                                </p><p>
                                    چنانچه به دلیل بروز حوادث غیر مترقبه از قبیل جنگ، شورش، سیل، زلزله، حریق و نظایر آن، ایفای تعهدات از ناحیه یکی از طرفین غیرممکن گردد، قرارداد به حالت تعلیق درآمده و اگر این وضعیت بیش از سه ماه ادامه یابد و طرفین در مورد آن توافقی ننمایند، هر طرف حق فسخ قرارداد را خواهد داشت.
                                </p><p>
                                    تبصره 10: طرف مدعی قوه قاهره باید گواهی از مراجع ذیربط اخذ و به طرف مقابل ارائه نماید.
                                </p><p>
                                    ماده 12. اسقاط حق
                                </p><p>
                                    اسقاط هر یک از حقوق توسط طلایه داران تنها زمانی واجد اثر است که به شکل کتبی به صنعتگر ابلاغ شود.
                                </p><p>


                                    ماده 13. رازداری
                                </p><p>
                                    هریک از طرفین باید اطلاعات مندرج در پنل، به ویژه اطلاعات مشتریان را محرمانه تلقی و کلیه اقدامات مقتضی برای تضمین حفظ محرمانگی آن به  وسیله کارکنان خود را نیز اتخاذ نمایند. این تعهد تا پنج سال از تاریخ خاتمه قرارداد معتبر است. بدیهی است ارائه اطلاعات به موجب حکم قانونی یا دستور مقامات، از شمول این ماده مستثنی است. طلایه داران حق دارد به صلاحدید خود خسارات ناشی از نقض این تعهد را محاسبه نموده و از مطالبات صنعتگر کسر نماید.
                                </p><p>
                                    ماده 14. واگذاری
                                </p><p>
                                    صنعتگر حق واگذاری جزئی و کلی حقوق و تعهدات خود را به  موجب این قرارداد به اشخاص ثالث بدون موافقت کتبی و قبلی طرف دیگر، تحت هیچ عنوانی اعم از نمایندگی، وکالت، صلح حقوق و سایر عناوین، نخواهد داشت.
                                </p><p>
                                    ماده 15. قانون حاکم و نحوۀ حل اختلاف
                                </p><p>
                                    قرارداد تابع قوانین جمهوری اسلامی ایران می باشد و با توجه به محل انعقاد قرارداد، کلیه اختلافات و دعاوی ناشی از آن و یا راجع به آن به مراجع صالح قضایی جمهوری اسلامی ایران در شهر تهران ارجاع خواهد شد.
                                </p><p>
                                    این قرارداد در 15 ماده با تایید قرارداد مورد تایید قرار می گیرد و صنعتگر با تایید این قرارداد متعهد بدان خواهد بود.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $("input[name=maliatRadioOptions]").on("click", function () {
            if ($("input[name=maliatRadioOptions]:checked").val() == "1") {
                $("#maliyatdoc").removeClass("d-none");
            } else {
                $("#maliyatdoc").addClass("d-none");
            }
        });

        var uploadjson = {
            doc1: null,
            doc2: null,
            doc3: null,
            doc4: null
        };
        // rkey
        var GetDocumentListbyRkey = () => {
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Seller/Account/GetDocumentListbyRkey",
                    data: { rkey: 1 },
                    success: function (result) {
                        if (result.success == false) {
                            if (result.message.indexOf("مهلت زمانی") > -1) {
                                notify("پیغام سیستم", "مهلت زمانی توکن شما به پایان رسیده است جهت ادامه لطفا مراحل را از اول ادامه شروع کنید")
                                window.location = "/Seller/Account/login";
                            }
                        }

                        else {
                            if (result.data != null) {
                                $.each(result.data.objList, function (e, v) {
                                    if (v.id == 1) {
                                        $("#docMaliyat").removeClass("d-none");
                                        uploadjson.doc1 = false;
                                    }
                                    else if (v.id == 2) {
                                        //if (v?.isRequired == "true") {
                                        //    $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        //    uploadjson.doc2 = false;
                                        //}

                                        $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                    }
                                    else if (v.id == 3) {
                                        //if (v?.isRequired == "true") {
                                        //    $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        //    uploadjson.doc3 = false;
                                        //}

                                        $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                    }
                                    else if (v.id == 4) {
                                        //if (v?.isRequired == "true") {
                                        //    $("form[data-docid=" + v.id + "]").find("input[name=upload]").prop("required", true);
                                        //    uploadjson.doc4 = false;
                                        //}

                                        $("form[data-docid=" + v.id + "]").removeClass("d-none");
                                    }
                                });

                                GetUploadedDocuments();
                            }


                            if (result.data == null || result.data.objList.length == 0)
                                $(".lastSeenBox").addClass("d-none");
                            else
                                $(".lastSeenBox").removeClass("d-none");
                        }
                    }
                });
            } catch (e) {
            }
        }

        function onBegin1(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess1(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow1").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc1 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed1() { }

        function onComplete1(re) {
            console.log(re);
        }

        failed1 = function (xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        };
        //===============================================================
        function onBegin2(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess2(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow2").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc2 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed2() { }

        function onComplete2(re) {
            console.log(re);
        }
        //===============================================================
        function onBegin3(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess3(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow3").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc3 = true;
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed3() { }

        function onComplete3(re) {
            console.log(re);
        }
        //===============================================================
        function onBegin4(e, form) {
            $('#submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#errorbox").html('').addClass("d-none");
        }

        function onSuccess4(result) {
            console.log("succes:", result);
            $('#submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);

            if (result.success == true) {
                $(".uprow4").css("background-color", "#b1fbe1");
                //$("input[name=uploadfileid]").val(result.objList[0]);
                uploadjson.doc4 = true;
            }
            else {
                $("PersianDateTimeianDaDateDToDateStringateteTimeianDateTimeianDateTimeerrorbox").html(result.message).removeClass("d-none");
            }
        }

        function onFailed4() { }

        function onComplete4(re) {
            console.log(re);
        }

        GetDocumentListbyRkey();

        $("#gotowelcome").on("click", function () {
            /*var isOk = true;
            if (uploadjson.doc1 != null) {
                if (uploadjson.doc1 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" },{type:'danger'}); }
            }

            if (uploadjson.doc2 != null) {
                if (uploadjson.doc2 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (uploadjson.doc3 != null) {
                if (uploadjson.doc3 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (uploadjson.doc4 != null) {
                if (uploadjson.doc4 == false) { isOk = false; notify({ title: "خطا", message: "لطفا تمامی مدارک لازم را بارگذاری کنید" }, { type: 'danger' }); }
            }

            if (isOk == true)*/

            if (document.getElementById('contractChk').checked) {
                window.location = "/seller/account/welcome";
            } else {
                notify({ title: "پیغام سیستم", message: "لطفا قرارداد را مطالعه و تایید نمایید" });
            }
            
        });

        function GetUploadedDocuments() {
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Seller/Account/GetUploadedDocuments",
                    data: {},
                    success: function (result) {
                        if (result.success == true) {
                            if (result.data != null) {
                                $.each(result.data, function (e, v) {
                                    $("form[data-docid=" + v.documentId + "]").find("input[name=upfile]").val(v.fileUrl);
                                    $("form[data-docid=" + v.documentId + "]").find("a.samplefile").addClass("d-none");
                                    $("form[data-docid=" + v.documentId + "]").find("div.imgBox").removeClass("d-none");
                                });
                            }
                        }
                    }
                });
            } catch (e) {
            }
        }

        function GetSellerFullInfoForContract() {
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Seller/Account/GetSellerFullInfoForContract",
                    data: {},
                    success: function (result) {
                        if (result.success == true) {
                            if (result.data != null) {
                                var objdata = result.data;
                                $("#satrtdate").text('@PersianDateTime.Now.Date.ToString(PersianDateTimeFormat.Date)');
                                $("#sellername").text(objdata.firstName + " " + objdata.lastName);
                                $("#sellershsh").text(objdata.shenasnameNo);
                                $("#sellernationalcode").text(objdata.nationalCode);
                                $("#selleraddress").text(objdata.address);
                                $("#sellerpostalcode").text(objdata.postalCode);
                                $("#sellerphone").text(objdata.phone + " - " + objdata.mobileNo );
                                $("#selleremail").text(objdata.email);
                                $("#sellerFromDate").text('@PersianDateTime.Now.Date.ToString(PersianDateTimeFormat.Date)');
                                $("#sellerToDate").text('@PersianDateTime.Now.AddYears(1).Date.ToString(PersianDateTimeFormat.Date)');
                            }
                        }
                    }
                });
            } catch (e) {
            }
        }

        $(".showfilebtn").on("click", function () {
            var doccode = $(this).parents("form").data("docid");
            $("#docimagemain").attr("src", $("form[data-docid=" + doccode + "]").find("input[name=upfile]").val());
            $("#showdocmodal").modal("show");
        });

        GetSellerFullInfoForContract();
    </script>
}
