@model ShortLoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Seller/Views/Shared/_AccountLayout.cshtml";
}
@section Styles{ }

<div class="reg_login_content_mainform reg_login_content m-auto">

    <form id="form_login" class="kt-form" asp-action="Login" asp-controller="Account" data-ajax-method="POST"
          data-ajax="true" data-ajax-begin="onSigninBegin" data-ajax-complete="onSigninComplete"
          data-ajax-failure="onSigninFailed" data-ajax-success="onSigninSuccess" dir="rtl">
        <div class="alert alert-danger d-none" id="errorbox"></div>

        <div class="form-group mb-4">
            <div class="input-group mb-2 heght-65px reg-element">
                <input type="text" class="form-control heght-100per emailmobile" placeholder="ایمیل خود را وارد نمایید" asp-for="EmailorMobileNo" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="~/image/icons/Sanatgar/email.png" />
                    </span>
                </div>
            </div>
            <span asp-validation-for="EmailorMobileNo" class="kt-font-danger"></span>
        </div>

        <div class="form-group text-center">
            <button type="submit" name="submit" id="login_signin_submit" class="btn btn-info btn-lg mb-2 mt-4 pl-5 pr-5 border-radius-10">ثبت نام</button>
        </div>

    </form>
    <p class="small text-center text-gray-soft">قبلا ثبت نام کرده ام <a href="/seller/account/login" class="cyan">ورود</a></p>
</div>

@section Scripts{
    <script>

        function onSigninBegin(e, form) {
            $('#login_signin_submit').addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
        }

        function onSigninSuccess(result) {
            console.log(result);
            $('#login_signin_submit').removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
            $("#errorbox").html('').addClass("d-none");

            if (result.success == true) {
                localStorage.removeItem("sellerEmailMobile");
                localStorage.setItem("sellerEmailMobile", $("input.emailmobile").val());

                //if (result.data.isExist == true) {
                //    window.location = "/Seller/Account/FastRegister?userid=" + result.data.userId;
                //}
                //else {
                    window.location = "/Seller/Account/VerifyCode?userid=" + result.data.userId;
                //}
            }
            else {
                $("#errorbox").html(result.message).removeClass("d-none");
            }
        }

        function onSigninFailed() {
            alert("خطا");
        }

        function onSigninComplete(re) {
            console.log(re);
        }

        failed = function (xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        };


    </script>
   
}
