/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0aa8b9;
    text-decoration: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid #dadada;
    padding-top: 10px;
}

.bg-gray {
    background-color: #f5f5f7;
}

.color-firouzi {
    color: #0aa8b9;
}

.bg-firouzi {
    background-color: #0aa8b9;
}

.border-firouzi {
    border: 1px solid #1c8bad;
    border-radius: 0;
}

.max-width-150 {
    max-width: 150px;
}

.height-150 {
    height: 150px;
}

.height-100-width-100 {
    height: 100%;
    width: 100%;
}

.index-products .card-body {
    padding: 0.7rem !important;
    color: #8c8c8c;
    position:relative;
}

.cyan {
    color: /*#2fdbf7*/ #0aa8b9 !important;
}

.custome-muted-header {
    color: #616161;
}

.custome-muted-text {
    color: #8c8c8c;
}

.fa.custom-fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2fdbf7;
    color: transparent;
}

.fa.solid-fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #909090;
    color: transparent;
    vertical-align: middle;
}

.shopping-card-box .caption p {
    margin: 0
}

.shopping-card-box .caption b a:hover {
    border: 1px solid #2fdbf7;
}

    .shopping-card-box .caption b a:hover .fa.solid-fa {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #2fdbf7;
        color: transparent;
    }

.amount {
    position: relative;
}

    .amount::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #909593;
        position: absolute;
        bottom: 14px;
        left: 0;
    }

.shopping-card-box .caption {
    /*display: none;
    margin-top: -41px;*/
}

    .shopping-card-box .caption p {
        font-size: 20px;
    }

    .shopping-card-box .caption b {
        background: white;
        padding: 3px;
    }

        .shopping-card-box .caption b a {
            padding: 3px;
            width: 38px;
            text-align: center;
            display: inline-block;
            text-align: center;
        }

        .shopping-card-box .caption b span.border-1 {
            border: 1px solid #f6f6f8;
        }

.shopping-thumbnail:hover {
    box-shadow: 0 0 4px 3px #a9a9a999;
}

.shopping-card-box:hover .caption {
    display: block;
}

.cat-sec .card {
    border: none;
}

.cat-sec .card-deck .card {
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    background: transparent;
}

.sanatgaran .card, .sec-blog .card, footer .card {
    border: none;
}

.sanatgaran .card-deck .card, .sec-blog .card-deck .card, footer .card-deck .card {
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    background: transparent;
}

.card-margin-0 .card-deck .card {
    margin-left: 0;
    margin-right: 0;
}

footer .card {
    background: none
}

.footer hr {
    border-top: 2px solid rgb(161, 161, 161);
}

.footer .list-unstyled li {
    line-height: 30px !important;
}

.footer .col-6 .card.mb-4 img {
    margin: auto;
    width: 120px;
}

.frmRss input.email {
    border: 0;
    border-radius: 0;
    padding: 20px;
}

.frmRss .send-email-btn {
    border-radius: 0;
}

.see-more-p {
    text-align: left;
    margin: 0
}

.line-height-20 {
    line-height: 20px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-40 {
    line-height: 40px;
}

.line-height-50 {
    line-height: 50px;
}

.line-height-60 {
    line-height: 60px;
}

#searchCategoryCmb:focus {
    background-color: #f5f5f7;
}

#searchCategoryCmb {
    /*border-radius: 3px 0 0 3px;*/
    height: 46px;
}

#searchInput {
    border-radius: 0;
    border-left: 1px solid #d2d2d2 !important;
    height: 46px;
}

    #searchInput:focus {
        box-shadow: 0 1px 0 0 rgba(0,123,255,.25);
    }

.frmSearchKala a {
    border-radius: 0 8px 8px
}

    .frmSearchKala a i {
        color: #d2d2d2;
    }

.badge {
    color: white;
}

.red {
    background-color: #f44336 !important;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.top-menu .breadcrumb {
    background: none;
}

    .top-menu .breadcrumb li a {
        color: #131313;
        font-size: 1.2em;
        font-weight: 600;
    }

.bg-gray-active {
    background-color: #ebecee;
}

/*    Product    */
.border-radius-2 {
    border-radius: 2px;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-30 {
    border-radius: 30px;
}

.width-18px {
    width: 18px !important;
}

.width-24px {
    width: 24px !important;
}

.width-75px {
    width: 75px !important;
}

.height-75px {
    height: 75px;
}

.max-height-300px {
    max-height: 300px;
}

.width-30px {
    width: 30px !important;
}

.width-40px {
    width: 40px !important;
}

.width-50px {
    width: 50px !important;
}

.width-100px {
    width: 100px;
}

.width-200px {
    width: 200px;
}

.width-150px {
    width: 150px;
}

.spinner {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 0 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

.shared-box {
    position: absolute;
    left: 0;
}

.basket-action-span {
    cursor: pointer;
}
/********************************/
.product-detail-tabs ul.nav-tabs {
    background-color: #676767 !important;
}

.product-detail-tabs ul li a {
    color: #fff;
}

    .product-detail-tabs ul li a.active {
        background-color: #f5f5f7 !important;
        color: #676767 !important;
    }

    .product-detail-tabs ul li a.nav-link {
        border: none;
        border-left: 1px solid #d0d0d0;
        border-radius: 0;
        padding: 1rem 1rem;
    }

/********************/
@-moz-keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@-webkit-keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@-webkit-keyframes quick_cart_pay_hide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
}

@keyframes quick_cart_pay_hide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
}

@keyframes fadeDown {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeDown {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
}

.fadeDown {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeDown 400ms ease-in-out;
    animation: fadeDown 400ms ease-in-out;
}

.fadeUp {
    opacity: 1 !important;
    position: relative;
    -webkit-animation: fadeUp 400ms ease-in-out;
    animation: fadeUp 400ms ease-in-out;
}

.animateOut {
    position: absolute !important;
    top: 0;
    left: 0;
    -webkit-animation: quick_cart_pay_hide 200ms ease-in forwards;
    animation: quick_cart_pay_hide 200ms ease-in forwards;
}

.border-default {
    border: 1px solid #cecece;
}

.mt-5px {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.p-2px {
    padding: 2px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.background-none {
    background: none;
}

.cart-send-date-tabs ul {
    background-color: #676767 !important;
}

    .cart-send-date-tabs ul li a {
        color: #fff;
    }

        .cart-send-date-tabs ul li a.active {
            background-color: #fff !important;
            color: #676767 !important;
        }

        .cart-send-date-tabs ul li a.nav-link {
            border: none;
            border-left: 1px solid #d0d0d0;
            border-radius: 0;
            padding: 0.5rem 1rem;
        }

.cart-send-date-tabs .tab-content {
    border-radius: 0 0 30px 30px;
}

.text-muted-in-dark {
    color: #dcdcdc !important;
}

.cart-send-date-tabs ul li a.active .text-muted-in-dark {
    color: #9c9c9c !important
}

.font-size-17px {
    font-size: 17px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-40px {
    font-size: 40px;
}

.font-size-50px {
    font-size: 50px;
}

.pl-5px {
    padding-left: 5px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-30px {
    padding-left: 30px;
}

.pr-5px {
    padding-right: 5px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-30px {
    padding-right: 30px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-30px {
    padding-top: 30px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-30px {
    padding-bottom: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 10px !important;
    height: 48px !important;
}

.select2-container {
    width: 100% !important;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-solid {
    border-style: solid;
}

.border-dotted {
    border-style: dotted;
}

.border-dashed {
    border-style: dashed;
}

/* top menu profile */
.c-header__profile-dropdown {
    width: 200px;
}

.c-header__profile-dropdown-account {
    display: block;
    position: relative;
    padding-right: 52px;
    padding-left: 16px;
    padding-top: 12px;
}

    .c-header__profile-dropdown-account:before {
        content: "";
        display: block;
        width: 1px;
        height: 15px;
        background: #c0c2c5;
        position: absolute;
        right: 28px;
        top: -18px;
    }

.c-header__profile-dropdown-account-item:not(:last-child) {
    margin-bottom: 12px;
}

.u-hidden {
    display: none !important;
}

.c-header__profile-dropdown-account-item {
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
    position: relative;
    color: #81858b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .c-header__profile-dropdown-account-item:before {
        content: "";
        display: block;
        width: 1px;
        height: 33px;
        background: #c0c2c5;
        position: absolute;
        right: -24px;
        top: -23px;
    }

.c-header__profile-dropdown-account-item-amount, .c-header__profile-dropdown-account-item-title--link {
    z-index: 3;
    position: relative;
    color: #81858b;
}

.c-header__profile-dropdown-account-item-amount, .c-header__profile-dropdown-account-item-title {
    line-height: normal !important;
}

.c-header__profile-dropdown-account-item:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #c0c2c5;
    position: absolute;
    right: -27px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-header__profile-dropdown-action-container:hover {
    background: #f0f0f1;
}

.c-header__profile-dropdown-action-container {
    position: relative;
}

    .c-header__profile-dropdown-action-container:hover:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        height: 1px;
        background: #f0f0f1;
        width: 100%;
    }

    .c-header__profile-dropdown-action-container:not(:last-child):after {
        content: "";
        width: calc(100% - 32px);
        height: 1px;
        background: #f0f0f1;
        position: absolute;
        left: 16px;
        bottom: 0;
    }

.c-header__profile-dropdown-account-container {
    padding-top: 8px;
    padding-bottom: 12px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.c-header__profile-dropdown-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}

.c-header__profile-dropdown-user-img {
    width: 32px;
    height: 32px;
    border: 1px solid #424750;
    border-radius: 50%;
    background: #fff;
    background-size: contain;
}

    .c-header__profile-dropdown-user-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

.c-header__profile-dropdown-user-info {
    margin-right: 8px;
}

.c-header__profile-dropdown-user-name {
    font-size: 14px;
    font-size: 0.9rem;
    line-height: 1.571;
    font-weight: 500;
}

.c-header__profile-dropdown-user-profile-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #19bfd3;
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
}

.c-header__profile-dropdown-action-container {
    position: relative;
}

.c-header__profile-dropdown-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    padding: 10px 20px;
    cursor: pointer;
    color: #424750;
}

.c-header__profile-dropdown-action-container:not(:last-child):after {
    content: "";
    width: calc(100% - 32px);
    height: 1px;
    background: #f0f0f1;
    position: absolute;
    left: 16px;
    bottom: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.bg-active-in-hover {
    padding: 0 5px;
    border-radius: 10px;
}

    .bg-active-in-hover:hover {
        background: #f3f3f3;
    }

    .bg-active-in-hover:active {
        background: #a7e8f3;
    }

.min-height-200px {
    min-height: 200px;
}

.line-height-200 {
    line-height: 200px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.topmenuNavBarTools li a.active_in_hover {
    padding: 0.6rem;
    border-radius: 10px;
}

    .topmenuNavBarTools li a.active_in_hover:hover {
        box-shadow: 0px 0px 4px #b5b5b5ed;
    }

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.field-validation-error {
    font-size: small;
    color: #ff5959;
}

ul.firoozi-desc li::before {
    content: "\2022";
    color: #2fdbf7;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
    line-height: 28px;
}


@media (min-width: 576px) {
    .after-before-bordered::before,
    .after-before-bordered::after {
        width: 5rem;
    }
}

@media (min-width: 768px) {
    .after-before-bordered::before,
    .after-before-bordered::after {
        width: 7rem;
    }
}

@media (min-width: 992px) {
    .after-before-bordered::before,
    .after-before-bordered::after {
        width: 11rem;
    }
}

@media (min-width: 1200px) {
    .after-before-bordered::before,
    .after-before-bordered::after {
        width: 15rem;
    }
}

.after-before-bordered::before,
.after-before-bordered::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #7f7f7f;
    margin: -1rem 1rem;
    transform: translateY(-1rem);
}

/************ Banner Effect ****************/
.banner-wrapper {
    position: relative;
}

.banner-border::before {
    border: 1px solid #f3a395;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 100%;
    transition: all .4s ease 0s;
    pointer-events: none;
}

.banner-border-2::before {
    border: 1px solid #2fdbf7;
    content: "";
    height: 100%;
    right: -10px;
    position: absolute;
    top: 10px;
    width: 100%;
    transition: all .4s ease 0s;
    pointer-events: none;
}

.banner-border:hover::before {
    left: 0px;
    top: 0px;
}

.banner-border-2:hover::before {
    right: 0px;
    top: 0px;
}

.banner-img img {
    width: 100%;
}

.hm1-banner .row {
    margin-left: -10px;
    margin-right: -10px;
}

    .hm1-banner .row div[class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }

.banner-position-center-right {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.banner-position-center-left {
    left: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-position-top {
    left: 0;
    padding: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    pointer-events: none;
}

.banner-position-bottom {
    bottom: 0;
    left: 0;
    padding: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    pointer-events: none;
}

.banner-content-style1 > h2 {
    color: #646161;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin: 0;
    text-transform: uppercase;
}

.banner-content-style2 > h3 {
    color: #646161;
    font-size: 18px;
    margin-bottom: 4px;
}

.banner-content-style2 > h2 {
    color: #646161;
    font-size: 24px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.banner-content-style2 h2 > span {
    color: #f3a395;
}

.banner-content-style3 > h3 {
    color: #5d5d5d;
    font-size: 23px;
    margin: 0;
}

.banner-content-style4 > h3 {
    color: #f3a395;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.banner-wrapper:hover .banner-content-style1 h2,
.banner-wrapper:hover .banner-content-style2 h2,
.banner-wrapper:hover .banner-content-style4 h3 {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInUp;
}

.banner-wrapper:hover .banner-content-style2 h3,
.banner-wrapper:hover .banner-content-style3 h3 {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
}
/**************************/
.slider-banner-wrapper:hover a::after, .blog-hm-wrapper:hover .blog-img > a::after {
    bottom: 0;
    opacity: 0;
    top: 0;
    transition: all 500ms ease-in 0s;
}

.slider-banner-wrapper > a::after, .blog-img > a::after {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
}

.slider-banner-wrapper:hover a::before, .blog-hm-wrapper:hover .blog-img > a::before {
    left: 0;
    opacity: 0;
    right: 0;
    transition: all 900ms ease-in 0s;
}

.slider-banner-wrapper:hover a::after, .blog-hm-wrapper:hover .blog-img > a::after {
    bottom: 0;
    opacity: 0;
    top: 0;
    transition: all 500ms ease-in 0s;
}

.slider-banner-wrapper > a::after, .blog-img > a::after {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
}

.slider-banner-wrapper > a::before, .blog-img > a::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 1;
    position: absolute;
    right: 51%;
    top: 0;
}
/****** Animated Btn ******/
.btn-style {
    background-color: #f3a395;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 13px 33px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out 0s;
    overflow: hidden;
    z-index: 99;
}

a.cr-btn b,
button.cr-btn b {
    background: rgba(25, 25, 25, 1) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease-in-out 0s, height 0.6s ease-in-out 0s;
    width: 0;
    z-index: 1;
}

a.cr-btn:hover b,
button.cr-btn:hover b {
    height: 500px;
    width: 500px;
}

.btn-style:hover {
    border: 0px solid #f3a395;
    color: #ffffff;
}
/******* Text Color *******/
body {
    color: #7f7f7f;
}

.main-menu ul li a {
    color: #797979;
}

p {
    color: #807f7f;
}

.btn-link {
    color: #0aa8b9;
}

input[name=quantity].form-control:disabled, input[name=quantity].form-control[readonly] {
    background-color: #ffffff;
    font-size: 1.3rem;
}

a[name=beforeAddtocartPlus]:hover, a[name=beforeAddtocartMinus]:hover {
    cursor: pointer;
}

/*  btn, form-control   */
.form-control {
    height: calc(2.25rem + 10px);
    padding: .375rem .75rem;
    border-radius: .85rem;
}

.btn-main {
    padding: .675rem .75rem;
    border-radius: .85rem;
}

.border-radius-1rem {
    border-radius: 1rem;
}

.max-width-50px {
    max-width: 50px;
}

.max-width-100px {
    max-width: 100px;
}

.max-width-120px {
    max-width: 120px;
}

.height-120-px {
    height: 120px;
}

.max-width-150px {
    max-width: 150px;
}

.font-weight-600 {
    font-weight: 600;
}

.shopping-card-box:hover .caption {
    top: -45px;
    opacity: 1;
}

.caption {
    top: 0%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s;
    width: 100%
}

.category-product {
    background: #f5f5f7;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}

    .category-product a {
        color: #7f7f7f;
        font-size: 0.89rem;
    }

    .category-product h5 {
        font-size: 0.9rem;
    }

.cat-more {
    margin: 14px;
}

@media (max-width: 576px) {
    .cat-more {
        margin: 11px;
    }
}

.m-14 {
    margin: 14px;
}

.m-15 {
    margin: 15px;
}

.font-size-1_8rem {
    font-size: 1.8rem !important;
}

.category-product-wraper:hover .category-product {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

    .category-product-wraper:hover .category-product:hover {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125);
    }

/* ---- SideBar ---- */
.sidenav {
    overflow-x: hidden;
    padding-top: 10px;
}

    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-align: right;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        cursor: pointer;
        outline: none;
    }

        .sidenav a:hover, .dropdown-btn:hover {
            color: #0aa8b9;
        }

        .dropdown-btn:focus {
            outline: 0;
            outline: none !important;
            color: #68c1d4;
            background: #f1f1f1;
        }

        .dropdown-btn.active {
            color: #68c1d4;
            background: #f1f1f1;
        }

.dropdown-container {
    display: none;
    padding-right: 8px;
    background: #f1f1f18f;
}

    .dropdown-container a {
        color: #50d6e4 !important;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

/* ---- breadcrumb ---- */
.breadcrumb > .separator {
    margin: 0 5px;
}

/* ---- color-product ---- */
.color-product-list li {
    float: right;
    margin: auto 3px;
}

.color-product-a {
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    color: #7f7f7f;
    cursor: pointer;
}

    .color-product-a.active, .package-type-radio-box.active {
        border: 2px solid #2fdbf7;
    }

.circle-color-product {
    width: 12px;
    height: 12px;
    background: #38d0d0;
    border-radius: 50%;
    float: right;
    margin: 3px;
    box-shadow: 0 0 2px black;
}

.package-type-radio-box {
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    padding: 3px 7px;
    margin: auto 1px;
}

/*********************/
.color-black {
    color: #212529
}

/***** Mega Menu *****/
@media all and (min-width: 992px) {
    .navbar.top-menu {
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar.top-menu .has-megamenu {
            position: static !important;
        }

        .navbar.top-menu .megamenu {
            left: 0;
            right: 0;
            width: 100%;
            padding: 20px;
        }

        .navbar.top-menu .nav-link {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
}

.col-megamenu {
    margin-bottom: 15px;
}

    .col-megamenu ul li {
        line-height: 25px
    }

        .col-megamenu ul li a {
            color: #404040 !important;
            font-size: 1em !important;
            font-weight: 500 !important;
        }

            .col-megamenu ul li a:hover {
                color: #0b6c81 !important;
                padding-right: 5px;
            }

    .col-megamenu h6.title a {
        font-size: 1rem;
        font-weight: bold;
        color: #29d4d4;
        border-bottom: 1px solid;
        padding-bottom: 6px;
    }
/********************/
.bg-active-in-hover.active {
    background: #d2f0ff;
    color: #21948f !important;
}

/* ---- تب های کالا ---- */
.c-params__headline {
    color: #6f6f6f;
    font-size: 30px;
    font-size: 2.143rem;
    line-height: 1.467;
    font-weight: 500;
    margin-bottom: 35px;
    letter-spacing: -.6px;
}

.c-params__title {
    color: #4d4d4d;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    margin-bottom: 25px;
    letter-spacing: -.3px;
    position: relative;
    padding-right: 19px;
}

    .c-params__title:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 7px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent #00bfd6;
        border-style: solid;
        border-width: 7px 0 0 7px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.c-params__list {
    list-style: none;
    padding: 0;
    margin-bottom: 70px;
}

    .c-params__list li {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 8px -8px;
    }

.c-params__list-key, .c-params__list-value {
    padding-right: 8px;
    padding-left: 8px;
}

.c-params__list-key, .c-params__list-value {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
}

.c-params__list-key {
    -ms-flex: 0 0 22.2%;
    flex: 0 0 22.2%;
    max-width: 22.2%;
}

    .c-params__list-key .block, .c-params__list-value .block {
        display: block;
        background: #fafafa;
        padding: 14px 18px 12px;
        font-size: 13px;
        font-size: .929rem;
        line-height: 1.692;
        color: #4d4d4d;
        letter-spacing: -.3px;
        min-height: 47px;
        position: relative;
    }

.c-params__list-key, .c-params__list-value {
    padding-right: 8px;
    padding-left: 8px;
    background: #f5f5f7
}

.c-params__list-value {
    -ms-flex: 0 0 77.8%;
    flex: 0 0 77.8%;
    max-width: 77.8%;
}

.c-params__headline span {
    display: block;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    color: #a7a7a7;
    letter-spacing: -.3px;
}

.c-content-expert__summary {
    background: #fcfcfc;
    color: #404040;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 2.25;
    /*padding: 25px 30px 27px 322px;
    min-height: 256px;*/
    position: relative;
    margin-right: -24px;
    margin-left: -16px;
}

.c-mask {
    position: relative;
    padding-bottom: 15px;
}

.c-mask__text.is-active {
    height: auto !important;
    max-height: unset !important;
    padding-bottom: 30px;
}

.c-mask__text--product-summary {
    max-height: 250px;
}

.c-mask__text {
    overflow: hidden;
}

.c-content-expert__summary:after {
    width: 165px;
    height: 165px;
    position: absolute;
    content: "";
    top: 30px;
    left: 81px;
    background: url(../image/galam-9908.svg) no-repeat 50% 50%;
    background-size: 100%;
}

.tab-pane {
    padding: 35px 53px 35px 61px;
    margin-bottom: 58px;
}

.c-comments__likes {
    text-align: left;
    color: #777;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
}

    .c-comments__likes .btn-like {
        margin-right: 10px;
    }

.btn-like {
    border-radius: 8px;
    border: 1px solid #ededed;
    background: #fff;
    padding: 6px 13px;
    color: #8c8c8c;
    font-size: 13px;
    font-size: .929rem;
    line-height: 16px;
}

    .btn-like[data-counter]:before {
        margin-left: 7px;
        color: #7a7a7a;
        font-size: 15px;
        font-size: 1.071rem;
        line-height: inherit;
        content: attr(data-counter);
    }
/**********************************************/
.width-300px {
    width: 300px;
}

.height-300px {
    height: 300px;
}

.max-width-450px {
    max-width: 450px;
}

.product-media-item {
    height: 68px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* display: none; */
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    padding: 19% 0 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}

    .product-media-item .thumb-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 4px;
    }

    .product-media-item .thumb-wrapper, .product-media-item:nth-of-type(4) .c-gallery__images-count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .product-media-item .thumb-wrapper:hover img {
            opacity: 1;
        }

        .product-media-item .thumb-wrapper img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: top;
            opacity: .7;
            position: relative;
        }
/*00000000000000*/
.mr-12px {
    margin-right: 12px;
}
/* ====================================== */
header.absolate-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background: transparent;
}

@media only screen and (max-width: 991px) {
    .header_wrap .navbar .navbar-nav.attr-nav {
        display: block;
        float: right;
    }
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav.attr-nav li {
        float: right;
    }
}

.navbar .navbar-nav li {
    position: relative;
    list-style: none;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav.attr-nav li .nav-link.search_trigger, .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger {
        padding: 16px 8px;
    }
}

@media only screen and (max-width: 991px) {
    .search_wrap {
        max-width: 100%;
        margin: 0 30px;
    }
}

.search_wrap {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    z-index: 9999;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.close-search {
    right: auto;
    left: 0;
}

.close-search {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 25%;
}

.search_wrap form {
    position: relative;
    width: 100%;
}

.search_wrap .form-control {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 10px 0;
    color: #fff;
}

@media only screen and (max-width: 575px) {
    .form-control, .form-control:focus, .custom_select select {
        height: 44px;
    }
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.search_icon {
    right: auto;
    left: 5px;
}

.search_icon {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav.attr-nav li .nav-link.search_trigger, .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger {
        padding: 16px 8px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav.attr-nav li .nav-link {
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav > li > .nav-link, .nav-fixed .navbar .navbar-nav > li > .nav-link {
        padding: 10px 10px;
    }
}

.main_menu_uppercase .navbar-nav > li > .nav-link {
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav.attr-nav li .nav-link.search_trigger [class*="linearicons-"], .navbar .navbar-nav.attr-nav li .nav-link.cart_trigger [class*="linearicons-"] {
        margin-top: 5px;
        display: inline-block;
    }
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.light_skin .navbar-nav a, .light_skin .navbar-toggler, .light_skin .navbar a.pr_search_trigger {
    color: #ffffff;
}

.navbar-toggler {
    float: left;
    margin: 13px 3px 0 0px;
}

.navbar-toggler {
    float: right;
    margin: 13px 0 0 3px;
    font-size: 28px;
    color: #333;
    transition: all 0.5s ease 0s;
    border-radius: 0;
    height: 35px;
    width: 35px;
    padding: 0;
    line-height: 36px;
    transition: none;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/**************************************/

.sanatgarBox .owl-nav {
    text-align: center;
    direction: ltr;
    right: 0;
    left: 0;
}

/******************************
    گروههای برتر
******************************/
.pad-0-10 {
    padding: 0 10px !important;
}

.mar-t-10 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .robin-index-content-box div:nth-of-type(1), .robin-index-content-box div:nth-of-type(3), .robin-index-content-box div:nth-of-type(6), .robin-index-content-box div:nth-of-type(9) {
        padding-right: 0 !important;
    }
}

.mar-pad-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.robin-index-widget-boxes {
    width: 100%;
    padding: 0 10px !important;
    margin-bottom: 20px;
}

/***************************
    دسته بندی ها پایین صفحه

*****************************/
.catBox .owl-nav {
    direction: ltr;
    position: absolute;
    top: 20%;
    width: 100%;
}

    .catBox .owl-nav button.owl-prev {
        float: left;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .catBox .owl-nav button.owl-next {
        float: right;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

        .catBox .owl-nav button.owl-prev i, .catBox .owl-nav button.owl-next i {
            margin: 6px 0
        }

/***************************
    محصولات جدید صفحه اول

*****************************/
.latest-product-box .owl-nav, .specials-content .owl-nav, .portakhfifha-content .owl-nav, .pishnahadvijeh-content .owl-nav{
    direction: ltr;
    position: absolute;
    top: 36%;
    width: 100%;
    right: 0;
    left: 0;
}

    .latest-product-box .owl-nav button.owl-prev,
    .specials-content .owl-nav button.owl-prev,
    .portakhfifha-content .owl-nav button.owl-prev,
    .pishnahadvijeh-content .owl-nav button.owl-prev {
        right: auto;
        left: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

    .latest-product-box .owl-nav button.owl-next,
    .specials-content .owl-nav button.owl-next,
    .portakhfifha-content .owl-nav button.owl-next,
    .pishnahadvijeh-content .owl-nav button.owl-next {
        left: auto;
        right: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

.latest-product-box:hover .owl-nav .owl-prev,
.specials-content:hover .owl-nav .owl-prev,
.portakhfifha-content:hover .owl-nav .owl-prev,
.pishnahadvijeh-content:hover .owl-nav .owl-prev {
    right: auto;
    left: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.latest-product-box:hover .owl-nav .owl-next,
.specials-content:hover .owl-nav .owl-next,
.portakhfifha-content:hover .owl-nav .owl-next,
.pishnahadvijeh-content:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.latest-product-box .owl-nav button.owl-prev i, .latest-product-box .owl-nav button.owl-next i,
.specials-content .owl-nav button.owl-prev i, .specials-content .owl-nav button.owl-next i,
.portakhfifha-content .owl-nav button.owl-prev i, .portakhfifha-content .owl-nav button.owl-next i,
.pishnahadvijeh-content .owl-nav button.owl-prev i, .pishnahadvijeh-content .owl-nav button.owl-next i {
    margin: 6px 0
}

/***************************
    نشان مرغوبیت کالا صفحه اول

*****************************/
.margubiatBoxContent .owl-nav {
    direction: ltr;
    position: absolute;
    top: 36%;
    width: 100%;
    right: 0;
    left: 0;
}

    .margubiatBoxContent .owl-nav button.owl-prev {
        right: auto;
        left: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

    .margubiatBoxContent .owl-nav button.owl-next {
        left: auto;
        right: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

.margubiatBoxContent:hover .owl-nav .owl-prev {
    right: auto;
    left: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.margubiatBoxContent:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.margubiatBoxContent .owl-nav button.owl-prev i, .margubiatBoxContent .owl-nav button.owl-next i {
    margin: 6px 0
}

/***************************
    محصولات  بازدید شده ی اخیر صفحه اول

*****************************/
.last-seen-content .owl-nav {
    direction: ltr;
    position: absolute;
    top: 36%;
    width: 100%;
    
    right: 0;
    left: 0;
}

    .last-seen-content .owl-nav button.owl-prev {
        right: auto;
        left: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

    .last-seen-content .owl-nav button.owl-next {
        left: auto;
        right: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

.last-seen-content:hover .owl-nav .owl-prev {
    right: auto;
    left: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.last-seen-content:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.last-seen-content .owl-nav button.owl-prev i, .last-seen-content .owl-nav button.owl-next i {
    margin: 6px 0
}

/***************************
    انواع بسته بندی صفحه اول

*****************************/
.packagesBox .owl-nav {
    direction: ltr;
    position: absolute;
    top: 36%;
    width: 100%;
    right: 0;
    left: 0;
}

    .packagesBox .owl-nav button.owl-prev {
        right: auto;
        left: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

    .packagesBox .owl-nav button.owl-next {
        left: auto;
        right: 0px;
        position: absolute;
        top: 35%;
        opacity: 0;
    }

.packagesBox:hover .owl-nav .owl-prev {
    right: auto;
    left: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.packagesBox:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
    position: absolute;
    top: 35%;
    opacity: 1;
}

.packagesBox .owl-nav button.owl-prev i, .packagesBox .owl-nav button.owl-next i {
    margin: 6px 0
}

/***************************/

.prod-name-cart {
    color: #666666;
}

.mellicode {
    color: #8e8e8e;
}

/*****************************/

.card-img-top:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 300;
    color: transparent;
    text-align: center;
    content: attr(alt);
    background: #fff url(/image/f8c6572e.svg) no-repeat 50%;
    background-size: contain;
    width: 100%;
    height: 100%;
}


/***************************************/

@media only screen and (max-width: 600px) {
    .mt-100-box {
        margin-top: 60px;
    }

    .mt-100-box-only-width {
        margin-top: 0px;
    }

    .c-content-expert__summary {
        padding: 5px;
        min-height: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mt-100-box {
        margin-top: 60px;
    }

    .mt-100-box-only-width {
        margin-top: 0px;
    }

    .c-content-expert__summary::after {
        width: 0;
    }
    .c-content-expert__summary {
        padding: 8px;
        min-height: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mt-100-box {
        margin-top: 60px;
    }

    .mt-100-box-only-width {
        margin-top: 60px;
    }

    .c-content-expert__summary::after {
        width: 0;
    }
    .c-content-expert__summary {
        padding: 12px;
        min-height: 150px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mt-100-box {
        margin-top: 100px;
    }

    .mt-100-box-only-width {
        margin-top: 100px;
    }

    .c-content-expert__summary::after {
        width: 0;
    }
    .c-content-expert__summary {
        padding: 15px;
        min-height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mt-100-box {
        margin-top: 100px;
    }

    .mt-100-box-only-width {
        margin-top: 100px;
    }

    .c-content-expert__summary::after {
        width: 0;
    }
    .c-content-expert__summary {
        padding: 15px;
        min-height: 220px;
    }
}

/****************************************/
.scrollup {
    background-color: #0aa8b9;
    bottom: 20px;
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
    border-radius: 2px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 10px !important;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

    html::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    /****************/
h6.pricing-card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ratingbox{
    text-align:center;
}