/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    text-decoration: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 13px;
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid #dadada;
    padding-top: 10px;
}

.bg-gray {
    background-color: #f5f5f7;
}

.color-firouzi {
    color: #0aa8b9;
}

.border-firouzi {
    border: 1px solid #1c8bad;
    border-radius: 0;
}

.max-width-150 {
    max-width: 150px;
}

.height-150 {
    height: 150px;
}

.height-100-width-100 {
    height: 100%;
    width: 100%;
}

.index-products .card-body {
    padding: 0.7rem !important;
    color: #8c8c8c;
}

.cyan {
    color: /*#2fdbf7*/ #0aa8b9 !important;
}

.custome-muted-header {
    color: #616161;
}

.custome-muted-text {
    color: #8c8c8c;
}

.fa.custom-fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2fdbf7;
    color: transparent;
}

.fa.solid-fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #909090;
    color: transparent;
    vertical-align: middle;
}

.shopping-thumbnail .caption p {
    margin: 0
}

.shopping-thumbnail .caption b a:hover {
    border: 1px solid #2fdbf7;
}

    .shopping-thumbnail .caption b a:hover .fa.solid-fa {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #2fdbf7;
        color: transparent;
    }

.amount {
    position: relative;
}

    .amount::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #909593;
        position: absolute;
        bottom: 14px;
        left: 0;
    }

.shopping-thumbnail .caption {
    display: none;
    margin-top: -41px;
}

    .shopping-thumbnail .caption p {
        font-size: 20px;
    }

    .shopping-thumbnail .caption b {
        background: white;
        padding: 3px;
    }

        .shopping-thumbnail .caption b a {
            padding: 3px;
            width: 38px;
            text-align: center;
            display: inline-block;
            text-align: center;
        }

        .shopping-thumbnail .caption b span.border-1 {
            border: 1px solid #f6f6f8;
        }

.shopping-thumbnail:hover .caption {
    display: block;
}

.cat-sec .card {
    border: none;
}

.cat-sec .card-deck .card {
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    background: transparent;
}

.sanatgaran .card, .sec-blog .card, footer .card {
    border: none;
}

.sanatgaran .card-deck .card, .sec-blog .card-deck .card, footer .card-deck .card {
    margin-left: 0;
    margin-right: 0;
    font-size: 13px;
    background: transparent;
}

.card-margin-0 .card-deck .card {
    margin-left: 0;
    margin-right: 0;
}

footer .card {
    background: none
}

.footer hr {
    border-top: 2px solid rgb(161, 161, 161);
}

.footer .list-unstyled li {
    line-height: 30px !important;
}

.footer .col-6 .card.mb-4 img {
    margin: auto;
    width: 120px;
}

.frmRss input.email {
    border: 0;
    border-radius: 0;
    padding: 20px;
}

.frmRss .send-email-btn {
    border-radius: 0;
}

.see-more-p {
    text-align: left;
    margin: 0
}

.line-height-20 {
    line-height: 20px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-40 {
    line-height: 40px;
}

.line-height-50 {
    line-height: 50px;
}

.line-height-60 {
    line-height: 60px;
}

#searchCategoryCmb:focus {
    background-color: #f5f5f7;
}

#searchCategoryCmb {
    /*border-radius: 3px 0 0 3px;*/
    height: 46px;
}

#searchInput {
    border-radius: 0;
    border-left: 1px solid #d2d2d2 !important;
    height: 46px;
}

    #searchInput:focus {
        box-shadow: 0 1px 0 0 rgba(0,123,255,.25);
    }

.frmSearchKala a {
    border-radius: 0 3px 3px
}

    .frmSearchKala a i {
        color: #d2d2d2;
    }

.badge {
    color: white;
}

.red {
    background-color: #f44336 !important;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.top-menu .breadcrumb {
    background: none;
}

    .top-menu .breadcrumb li a {
        color: #131313;
        font-size: 1.2em;
        font-weight: 600;
    }

.bg-gray-active {
    background-color: #ebecee;
}

/*    Product    */
.border-radius-2 {
    border-radius: 2px;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-30 {
    border-radius: 30px;
}

.width-18px {
    width: 18px !important;
}

.width-24px {
    width: 24px !important;
}

.width-75px {
    width: 75px !important;
}

.height-75px {
    height: 75px;
}

.width-30px {
    width: 30px !important;
}

.width-40px {
    width: 40px !important;
}

.width-50px {
    width: 50px !important;
}

.width-200px {
    width: 200px;
}

.spinner {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 0 4px;
}

.shared-box {
    position: absolute;
    left: 0;
}
/********************************/
.product-detail-tabs ul {
    background-color: #676767 !important;
}

    .product-detail-tabs ul li a {
        color: #fff;
    }

        .product-detail-tabs ul li a.active {
            background-color: #f5f5f7 !important;
            color: #676767 !important;
        }

        .product-detail-tabs ul li a.nav-link {
            border: none;
            border-left: 1px solid #d0d0d0;
            border-radius: 0;
            padding: 1rem 1rem;
        }

/********************/
@-moz-keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@-webkit-keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@keyframes quick_cart_pay_show {
    0% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -100px;
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        right: 20px;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        right: 0;
    }
}

@-webkit-keyframes quick_cart_pay_hide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
}

@keyframes quick_cart_pay_hide {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
}

@keyframes fadeDown {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeDown {
    0% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: rotate(5deg) translateY(5px);
        transform: rotate(5deg) translateY(5px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
}

.fadeDown {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeDown 400ms ease-in-out;
    animation: fadeDown 400ms ease-in-out;
}

.fadeUp {
    opacity: 1 !important;
    position: relative;
    -webkit-animation: fadeUp 400ms ease-in-out;
    animation: fadeUp 400ms ease-in-out;
}

.animateOut {
    position: absolute !important;
    top: 0;
    left: 0;
    -webkit-animation: quick_cart_pay_hide 200ms ease-in forwards;
    animation: quick_cart_pay_hide 200ms ease-in forwards;
}

.border-default {
    border: 1px solid #cecece;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.background-none {
    background: none;
}

.cart-send-date-tabs ul {
    background-color: #676767 !important;
}

    .cart-send-date-tabs ul li a {
        color: #fff;
    }

        .cart-send-date-tabs ul li a.active {
            background-color: #fff !important;
            color: #676767 !important;
        }

        .cart-send-date-tabs ul li a.nav-link {
            border: none;
            border-left: 1px solid #d0d0d0;
            border-radius: 0;
            padding: 0.5rem 1rem;
        }

.cart-send-date-tabs .tab-content {
    border-radius: 0 0 30px 30px;
}

.text-muted-in-dark {
    color: #dcdcdc !important;
}

.cart-send-date-tabs ul li a.active .text-muted-in-dark {
    color: #9c9c9c !important
}

.font-size-17px {
    font-size: 17px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-40px {
    font-size: 40px;
}

.font-size-50px {
    font-size: 50px;
}

.pl-5px {
    padding-left: 5px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-30px {
    padding-left: 30px;
}

.pr-5px {
    padding-right: 5px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-30px {
    padding-right: 30px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-30px {
    padding-top: 30px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-30px {
    padding-bottom: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 46px !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 10px !important;
    height: 48px !important;
}

.select2-container {
    width: 100% !important;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-3 {
    border-width: 3px;
}

.border-solid {
    border-style: solid;
}

.border-dotted {
    border-style: dotted;
}

.border-dashed {
    border-style: dashed;
}

/* top menu profile */
.c-header__profile-dropdown {
    width: 200px;
}

.c-header__profile-dropdown-account {
    display: block;
    position: relative;
    padding-right: 52px;
    padding-left: 16px;
    padding-top: 12px;
}

    .c-header__profile-dropdown-account:before {
        content: "";
        display: block;
        width: 1px;
        height: 15px;
        background: #c0c2c5;
        position: absolute;
        right: 28px;
        top: -18px;
    }

.c-header__profile-dropdown-account-item:not(:last-child) {
    margin-bottom: 12px;
}

.u-hidden {
    display: none !important;
}

.c-header__profile-dropdown-account-item {
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
    position: relative;
    color: #81858b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .c-header__profile-dropdown-account-item:before {
        content: "";
        display: block;
        width: 1px;
        height: 33px;
        background: #c0c2c5;
        position: absolute;
        right: -24px;
        top: -23px;
    }

.c-header__profile-dropdown-account-item-amount, .c-header__profile-dropdown-account-item-title--link {
    z-index: 3;
    position: relative;
    color: #81858b;
}

.c-header__profile-dropdown-account-item-amount, .c-header__profile-dropdown-account-item-title {
    line-height: normal !important;
}

.c-header__profile-dropdown-account-item:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #c0c2c5;
    position: absolute;
    right: -27px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-header__profile-dropdown-action-container:hover {
    background: #f0f0f1;
}

.c-header__profile-dropdown-action-container {
    position: relative;
}

    .c-header__profile-dropdown-action-container:hover:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        height: 1px;
        background: #f0f0f1;
        width: 100%;
    }

    .c-header__profile-dropdown-action-container:not(:last-child):after {
        content: "";
        width: calc(100% - 32px);
        height: 1px;
        background: #f0f0f1;
        position: absolute;
        left: 16px;
        bottom: 0;
    }

.c-header__profile-dropdown-account-container {
    padding-top: 8px;
    padding-bottom: 12px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.c-header__profile-dropdown-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}

.c-header__profile-dropdown-user-img {
    width: 32px;
    height: 32px;
    border: 1px solid #424750;
    border-radius: 50%;
    background: #fff;
    background-size: contain;
}

    .c-header__profile-dropdown-user-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

.c-header__profile-dropdown-user-info {
    margin-right: 8px;
}

.c-header__profile-dropdown-user-name {
    font-size: 14px;
    font-size: 0.9rem;
    line-height: 1.571;
    font-weight: 500;
}

.c-header__profile-dropdown-user-profile-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #19bfd3;
    font-size: 10px;
    font-size: .714rem;
    line-height: 2.2;
}

.c-header__profile-dropdown-action-container {
    position: relative;
}

.c-header__profile-dropdown-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    padding: 10px 20px;
    cursor: pointer;
    color: #424750;
}

.c-header__profile-dropdown-action-container:not(:last-child):after {
    content: "";
    width: calc(100% - 32px);
    height: 1px;
    background: #f0f0f1;
    position: absolute;
    left: 16px;
    bottom: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.bg-active-in-hover {
    padding: 0 5px;
    border-radius: 10px;
}

    .bg-active-in-hover:hover {
        background: #dcdcdc;
    }

    .bg-active-in-hover:active {
        background: #a7e8f3;
    }

.min-height-200px {
    min-height: 200px;
}

.line-height-200 {
    line-height: 200px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.topmenuNavBarTools li a.active_in_hover {
    padding: 0.8rem;
    border-radius: 10px;
}

    .topmenuNavBarTools li a.active_in_hover:hover {
        box-shadow: 0px 0px 4px #b5b5b5ed;
    }

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.field-validation-error {
    font-size: small;
    color: #ff5959;
}

ul.firoozi-desc li::before {
    content: "\2022";
    color: #2fdbf7;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
    line-height: 28px;
}

.after-before-bordered::before,
.after-before-bordered::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #2f2f2f;
    width: 16rem;
    margin: -1rem 1rem;
    transform: translateY(-1rem);
}

/************ Banner Effect ****************/
.banner-wrapper {
    position: relative;
}

.banner-border::before {
    border: 1px solid #f3a395;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 100%;
    transition: all .4s ease 0s;
    pointer-events: none;
}

.banner-border-2::before {
    border: 1px solid #f3a395;
    content: "";
    height: 100%;
    right: -10px;
    position: absolute;
    top: 10px;
    width: 100%;
    transition: all .4s ease 0s;
    pointer-events: none;
}

.banner-border:hover::before {
    left: 0px;
    top: 0px;
}

.banner-border-2:hover::before {
    right: 0px;
    top: 0px;
}

.banner-img img {
    width: 100%;
}

.hm1-banner .row {
    margin-left: -10px;
    margin-right: -10px;
}

    .hm1-banner .row div[class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }

.banner-position-center-right {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.banner-position-center-left {
    left: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-position-top {
    left: 0;
    padding: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    pointer-events: none;
}

.banner-position-bottom {
    bottom: 0;
    left: 0;
    padding: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    pointer-events: none;
}

.banner-content-style1 > h2 {
    color: #646161;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin: 0;
    text-transform: uppercase;
}

.banner-content-style2 > h3 {
    color: #646161;
    font-size: 18px;
    margin-bottom: 4px;
}

.banner-content-style2 > h2 {
    color: #646161;
    font-size: 24px;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.banner-content-style2 h2 > span {
    color: #f3a395;
}

.banner-content-style3 > h3 {
    color: #5d5d5d;
    font-size: 23px;
    margin: 0;
}

.banner-content-style4 > h3 {
    color: #f3a395;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.banner-wrapper:hover .banner-content-style1 h2,
.banner-wrapper:hover .banner-content-style2 h2,
.banner-wrapper:hover .banner-content-style4 h3 {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInUp;
}

.banner-wrapper:hover .banner-content-style2 h3,
.banner-wrapper:hover .banner-content-style3 h3 {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
}
/**************************/
.slider-banner-wrapper:hover a::after, .blog-hm-wrapper:hover .blog-img > a::after {
    bottom: 0;
    opacity: 0;
    top: 0;
    transition: all 500ms ease-in 0s;
}

.slider-banner-wrapper > a::after, .blog-img > a::after {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
}
.slider-banner-wrapper:hover a::before, .blog-hm-wrapper:hover .blog-img > a::before {
    left: 0;
    opacity: 0;
    right: 0;
    transition: all 900ms ease-in 0s;
}
.slider-banner-wrapper:hover a::after, .blog-hm-wrapper:hover .blog-img > a::after {
    bottom: 0;
    opacity: 0;
    top: 0;
    transition: all 500ms ease-in 0s;
}

.slider-banner-wrapper > a::after, .blog-img > a::after {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
}
.slider-banner-wrapper > a::before, .blog-img > a::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 1;
    position: absolute;
    right: 51%;
    top: 0;
}
/****** Animated Btn ******/
.btn-style {
    background-color: #f3a395;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 13px 33px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out 0s;
    overflow: hidden;
    z-index: 99;
}
a.cr-btn b,
button.cr-btn b {
    background: rgba(25, 25, 25, 1) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease-in-out 0s, height 0.6s ease-in-out 0s;
    width: 0;
    z-index: 1;
}

a.cr-btn:hover b,
button.cr-btn:hover b {
    height: 500px;
    width: 500px;
}

.btn-style:hover {
    border: 0px solid #f3a395;
    color: #ffffff;
}
/******* Text Color *******/
body {
    color: #303030;
}

.main-menu ul li a {
    color: #797979;
}

p {
    color: #807f7f;
}

.btn-link {
    color: #0aa8b9;
}

input[name=quantity].form-control:disabled, input[name=quantity].form-control[readonly] {
    background-color: #ffffff;
}

a[name=beforeAddtocartPlus]:hover, a[name=beforeAddtocartMinus]:hover {
    cursor: pointer;
}

/*  btn, form-control   */
.form-control {
    height: calc(2.25rem + 10px);
    padding: .375rem .75rem;
    border-radius: .85rem;
}

.btn-main {
    padding: .675rem .75rem;
    border-radius: .85rem;
}

.border-radius-1rem {
    border-radius: 1rem;
}

.max-width-50px {
    max-width: 50px;
}

.font-weight-600 {
    font-weight: 600;
}