
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">

    <a class="navbar-brand" href="#!">
        <img src="~/image/Logo.jpg" height="40" alt="logo">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav13"
            aria-controls="basicExampleNav13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav13">

        <form class="navbar-search pl-0 mr-auto mt-3 mb-2 mt-md-0 mb-md-0 mr-3 frmSearchKala" action="">
            <div class="input-group d-block d-md-flex mb-0">
                <div class="input-group-prepend">
                    <a href="" class="input-icon d-flex align-items-center bg-gray-active p-2" type="button">
                        <i class="fa fa-search solid-fa"></i>
                    </a>
                    <input id="searchInput" class="form-control bg-gray-active rgba-black-light border-0 z-depth-0 custome-muted-text" type="text"
                           placeholder="جستجو" aria-label="جستجو">

                    <select id="searchCategoryCmb" class="form-control bg-gray-active rgba-black-light border-0 z-depth-0 custome-muted-text" aria-label="دسته بندی">
                        <option>دسته بندی</option>
                    </select>
                </div>
            </div>
        </form>

        <!-- Right -->
        <ul class="navbar-nav">
            <li class="nav-item pl-2 mb-2 mb-md-0 d-md-none d-xl-inline-block">
                <a href="/Account/Login" type="button"
                   class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
                    <i class="fa fa-user"></i>
                    ورود به حساب کاربری
                </a>
            </li>

            <li class="nav-item">
                <a href="#!" class="nav-link navbar-link-2 waves-effect">
                    <span class="badge badge-pill red">1</span>
                    <i class="fa fa-shopping-cart solid-fa pl-0"></i>
                </a>
            </li>

            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    <i class="fa fa-globe"></i>
                </a>
            </li>

        </ul>

    </div>
    <!-- Links -->

</nav>
<!-- Navbar -->
<!-- Breadcrumbs -->
<nav class="navbar navbar-expand-md navbar-light top-menu">
    <div class="collapse navbar-collapse justify-content-center">
        <ol class="breadcrumb d-none d-xl-flex p-0">
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    دسته بندی کالا
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    مجله
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    درباره ما
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    ارتباط ما
                </a>
            </li>
        </ol>
    </div>
    <!-- Breadcrumbs -->
</nav>