@*<header class=" header_wrap absolate-top dd_dark_skin transparent_header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">

        <a class="navbar-brand mt-auto ml-30 mr-30" href="/Home/Index">
            <img src="~/image/Logo.png" height="60" alt="logo">
        </a>

        <div>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav13"
                    aria-controls="basicExampleNav13" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="nav-link navbar-link-2 waves-effect active_in_hover d-block d-sm-none" href="/ShoppingCart/Cart">
                <span class="badge badge-pill red total-count"></span>
                <span><img class="width-24px" src="~/image/icons/onlineshop.png" /></span>
            </a>

            <a href="#!" class="nav-link waves-effect active_in_hover d-block d-sm-none">
                <span><img class="width-24px" src="~/image/icons/language.png" /></span>
            </a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav13">

            <form class="navbar-search pl-0 mr-auto mt-3 mb-2 mt-md-0 mb-md-0 mr-3 frmSearchKala" action="">
                <div class="input-group d-block d-md-flex mb-0">
                    <div class="input-group-prepend p-1 border-radius-20 bg-gray-active">
                        <a href="" class="input-icon d-flex align-items-center bg-gray-active p-2" type="button">
                            <i class="fal fa-search font-size-30px"></i>
                        </a>
                        <input id="searchInput" class="form-control bg-gray-active rgba-black-light border-0 z-depth-0 custome-muted-text" type="text"
                               placeholder="جستجو" aria-label="جستجو">

                        <select id="searchCategoryCmb" class="form-control bg-gray-active rgba-black-light border-radius-10 border-0 z-depth-0 custome-muted-text select2 w-100" aria-label="دسته بندی">
                            <option>دسته بندی</option>
                        </select>
                    </div>
                </div>
            </form>
            <!-- Right -->
            <ul class="navbar-nav topmenuNavBarTools">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown order-1">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">@User.Identity.Name <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2">
                                <li class="">
                                    <form class="form" role="form">
                                        <ul style="padding:0;list-style-type:none">
                                            <li>
                                                <div>
                                                    <div class="c-header__profile-dropdown js-dropdown-menu">
                                                        <div class="c-header__profile-dropdown-account-container">
                                                            <div class="c-header__profile-dropdown-user">
                                                                <div class="c-header__profile-dropdown-user-img">
                                                                    <img src="https://www.digikala.com/static/files/fd4840b2.svg">
                                                                </div>
                                                                <div class="c-header__profile-dropdown-user-info">
                                                                    <p class="c-header__profile-dropdown-user-name m-0">حساب کاربری</p>
                                                                    <span class="c-header__profile-dropdown-user-profile-link">مشاهده حساب کاربری</span>
                                                                </div>
                                                            </div>
                                                            <div class="c-header__profile-dropdown-account">
                                                                <div class="c-header__profile-dropdown-account-item u-hidden js-user-dropdown-wallet-has-amount">
                                                                    <span class="c-header__profile-dropdown-account-item-title">کیف پول</span>
                                                                    <div class="c-header__profile-dropdown-account-item-amount">
                                                                        <span class="c-header__profile-dropdown-account-item-amount-number js-user-drop-down-wallet-amount"></span>
                                                                        تومان
                                                                    </div>
                                                                </div>
                                                                <div class="c-header__profile-dropdown-account-item js-user-dropdown-wallet-has-url">
                                                                    <a class="c-header__profile-dropdown-account-item-title c-header__profile-dropdown-account-item-title--link  js-wallet-activation-url" href="#">فعال سازی کیف پول</a>
                                                                </div>

                                                                <div class="c-header__profile-dropdown-account-item">
                                                                    <span class="c-header__profile-dropdown-account-item-title">‌کلاب</span>
                                                                    <span class="c-header__profile-dropdown-account-item-amount">
                                                                        <span class="c-header__profile-dropdown-account-item-amount-number js-dc-current-points">46</span>
                                                                        امتیاز
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <a href="/profile/" data-snt-event="dkHeaderClick" data-snt-params="{&quot;item&quot;:&quot;account&quot;,&quot;item_option&quot;:&quot;profile&quot;}" data-event="profile_click" data-event-category="header_section" data-event-label="logged_in: True - digiclub_score: 87000" class="c-header__profile-dropdown-user-profile-full-link"></a>
                                                        </div>
                                                        <div class="c-header__profile-dropdown-actions">
                                                            <div class="c-header__profile-dropdown-action-container">
                                                                <a href="/order/ordersHistory" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--orders ">سفارش‌های من</a>
                                                            </div>
                                                            <div class="c-header__profile-dropdown-action-container">
                                                                <a href="/digiclub/rewards/" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--digiclub-gifts">
                                                                    جوایز دیجی‌کلاب
                                                                </a>
                                                            </div>
                                                            <div class="c-header__profile-dropdown-action-container">
                                                                <a href="/Account/Logout" data-snt-event="dkHeaderClick" data-snt-params="{&quot;item&quot;:&quot;account&quot;,&quot;item_option&quot;:&quot;sign-out&quot;}" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--logout js-logout-button">خروج از حساب کاربری</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item pl-2 mb-2 mb-md-0 d-md-none d-xl-inline-block">
                            <a href="/Account/Login" type="button"
                               class="btn btn-md btn-rounded btn-navbar waves-effect waves-light border-default active_in_hover">
                                <span><img class="width-24px" src="~/image/icons/profile.png" /></span>
                                ورود به حساب کاربری
                            </a>
                        </li>

                    }
                }


                <li class="nav-item ml-10 mr-10 d-none d-sm-block">
                    <a class="nav-link navbar-link-2 waves-effect active_in_hover" href="/ShoppingCart/Cart">
                        <span class="badge badge-pill red total-count"></span>
                        <span><img class="width-24px" src="~/image/icons/onlineshop.png" /></span>
                    </a>
                </li>

                <li class="nav-item ml-10 mr-10 d-none d-sm-block">
                    <a href="#!" class="nav-link waves-effect active_in_hover">
                        <span><img class="width-24px" src="~/image/icons/language.png" /></span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Links -->
    </nav></header>
*@
<!-- Navbar -->

<div class="container-overflow-wrap">
    <div class="wsmenucontainer clearfix" style="">
        <div id="overlapblackbg"></div>
        <div class="wsmobileheader clearfix">
            <a style="top:0px" href="/Home/Index" class="smallogo">
                <img src="/image/Logo.png" alt="سرای">
            </a>
            <a id="wsnavtoggle" class="animated-arrow">
                <span></span>
            </a>
            <span class="robin-side-cart callusicon " href="/ShoppingCart/Cart">
                <span class="robin-shopping-basket"></span>
                <em class="roundpoint basket-counters total-count">0</em>
            </span>
        </div>

        <div class="headerfull">
            <div class="wsmain">
                <div class="smllogo">
                    <a href="/Home/Index">
                        <img style="" src="/image/Logo.png" alt="saray, سرای">
                    </a>
                </div>

                <!-- Breadcrumbs -->
                <nav class="navbar navbar-expand-md navbar-light top-menu">
                    <div class="collapse navbar-collapse justify-content-center wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">

                            <li class="wssearchbar clearfix">

                                <div class="dgwt-wcas-search-wrapp dgwt-wcas-has-submit woocommerce mt-3 js-dgwt-wcas-layout-classic dgwt-wcas-layout-classic js-dgwt-wcas-mobile-overlay-disabled dgwt-wcas-active">
                                    <form class="navbar-search pl-0 mr-auto mt-3 mb-2 mt-md-0 mb-md-0 mr-3 frmSearchKala" action="">
                                        <div class="input-group d-block d-md-flex mb-0">
                                            <div class="input-group-prepend p-1 border-radius-20 bg-gray-active">
                                                <a href="" class="input-icon d-flex align-items-center bg-gray-active p-2" type="button">
                                                    <i class="fal fa-search font-size-30px"></i>
                                                </a>
                                                <input id="searchInput" class="form-control bg-gray-active rgba-black-light border-0 z-depth-0 custome-muted-text" type="text"
                                                       placeholder="جستجو" aria-label="جستجو">

                                                <select id="searchCategoryCmb" class="form-control bg-gray-active rgba-black-light border-radius-10 border-0 z-depth-0 custome-muted-text select2 w-100" aria-label="دسته بندی">
                                                    <option>دسته بندی</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <!-- start mega menu -->

                            <li class="nav-item">
                                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
                                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
                                <a class="navtext">
                                    <span class="navtext bolderspan">دسته بندی ها</span>
                                </a>
                                <div class="wsshoptabing wtsdepartmentmenu clearfix">
                                    <div class="wsshopwp clearfix" style="height:400px">
                                        <ul class="wstabitem clearfix" id="mgmenu">
                                            @*<li class="wsshoplink-active">
                                                    <span class="wsmenu-click02">
                                                        <i class="wsmenu-arrow fa fa-angle-down"></i>
                                                    </span>
                                                    <span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
                                                    <span class="robin-submenu-nav">
                                                        <span class="robin-menu-icon-kitchen"></span>
                                                        <span style="vertical-align:middle">
                                                            <a href="/">دسته شماره یک</a>
                                                        </span>
                                                    </span>
                                                    <div class="wstitemright clearfix wstitemrightactive" style="height:auto">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 clearfix">
                                                                    <div class="container-fluid">
                                                                        <div class="row posrdb">
                                                                            <div class="col-lg-4 col-md-12 posrdb right">
                                                                                <ul class="wstliststy02 clearfix">
                                                                                    <li class="wstheading clearfix"> <a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                    <li><a href="/Product/">تست شماره 1</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-lg-4 col-md-12 posrdb right">
                                                                                <ul class="wstliststy02 clearfix">
                                                                                    <li class="wstheading clearfix"><a href="/Product/">تست شماره 2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                    <li><a href="/Product/">تست شماره2</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            *@
                                            <!---->
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!---->
                            @*<li class="wscarticon robin-side-cart clearfix" onclick="javascript: window.location='/ShoppingCart/Cart'">
                                <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
                                <span class="basket">
                                    <span class="bbb" style=" top: 30px; position: absolute; width: 30px; height: 30px; background-image: url(/image/icons/onlineshop.png); background-size: cover;"></span>
                                    <span class="basket-counters total-count">0</span>
                                    <span class="mobiletext">سبد خرید</span>
                                </span>
                            </li>*@
                            <li class="wsshopmyaccount clearfix user-link-menu dropdown order-1">
                                
                                <a type="button" id="sabaddropdownMenu" data-toggle="dropdown" class="btn1 btn-outline-secondary1 dropdown-toggle1" style="">
                                    <span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
                                    <span class="basket">
                                        <span class="bbb" style=" top: 30px; position: absolute; width: 30px; height: 30px; background-image: url(/image/icons/onlineshop.png); background-size: cover;"></span>
                                        <span class="basket-counters total-count">0</span>
                                        <span class="mobiletext">سبد خرید</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right mt-2 sabad-popup basket-popup-main">
                                    <li class="empty-basket-popup d-none">
                                        <div class="c-header__profile-dropdown-account-container">
                                            <div class="c-header__profile-dropdown-user">
                                                <span class="col-12 small font-weight-600">سبد کالای شما خالی می باشد</span>
                                            </div>
                                        </div>
                                    </li>

                                    @*<li>
                                        <div class="">
                                            <div class="c-header__profile-dropdown-actions">
                                                <div class="c-header__profile-dropdown-action-container">
                                                    <a href="/order/ordersHistory" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--orders ">
                                                        <div class="col-3 p-0"><img class="max-width-70px border-radius-3" src="/image/product/product-01.jpg" /></div>
                                                        <div class="col-9">
                                                            <span class="font-size-1rem color-menu-sabad font-weight-600">sadasd sad sd asd asd ads asd sd</span>
                                                            <span class="cyan d-block">
                                                                <img src="~/image/icons/avaiable.png" class="width-24px small" />
                                                                در سرای موجود می باشد
                                                            </span>
                                                        </div>
                                                    </a>
                                                    <div class="row m-0 pt-5px pb-5px">
                                                        <div class="col-8 text-center"><span class="color-menu-sabad small font-weight-bold">1 عدد</span></div>
                                                        <div class="col-4 text-right">
                                                            <a><img src="/image/icons/delete.png" class="width-24px" /></a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="p-2">
                                                    <div class="row m-0 pt-5px pb-5px bolderspan">
                                                        <div class="col-6 text-left">
                                                            <span class="color-menu-sabad">مبلغ قابل پرداخت</span>
                                                            <span class="d-block color-menu-sabad"><span>200,000,000</span> تومان</span>
                                                        </div>
                                                        <div class="col-6 text-right">
                                                            <a class="btn btn-info mt-5px" href="/shoppingcart/cart">ثبت سفارش</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>*@
                                </ul>

                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                    <li class="wsshopmyaccount clearfix user-link-menu dropdown order-1">
                                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle" style="line-height: 40px;padding: 5px; margin-top: 20px !important;">@User.Identity.Name <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                                            <li class="">
                                                <form class="form" role="form">
                                                    <ul style="padding:0;list-style-type:none">
                                                        <li>
                                                            <div>
                                                                <div class="c-header__profile-dropdown js-dropdown-menu">
                                                                    <div class="c-header__profile-dropdown-account-container">
                                                                        <div class="c-header__profile-dropdown-user">
                                                                            <div class="c-header__profile-dropdown-user-img">
                                                                                <img src="/image/user-image.svg">
                                                                            </div>
                                                                            <div class="c-header__profile-dropdown-user-info">
                                                                                <p class="c-header__profile-dropdown-user-name m-0">حساب کاربری</p>
                                                                                <span class="c-header__profile-dropdown-user-profile-link"><a class="cyan" href="/Account/UpdateProfile">مشاهده حساب کاربری</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="c-header__profile-dropdown-account">
                                                                            <!--<div class="c-header__profile-dropdown-account-item u-hidden js-user-dropdown-wallet-has-amount">
                                                                                <span class="c-header__profile-dropdown-account-item-title">کیف پول</span>
                                                                                <div class="c-header__profile-dropdown-account-item-amount">
                                                                                    <span class="c-header__profile-dropdown-account-item-amount-number js-user-drop-down-wallet-amount"></span>
                                                                                    تومان
                                                                                </div>
                                                                            </div>
                                                                            <div class="c-header__profile-dropdown-account-item js-user-dropdown-wallet-has-url">
                                                                                <a class="c-header__profile-dropdown-account-item-title c-header__profile-dropdown-account-item-title--link  js-wallet-activation-url" href="#">فعال سازی کیف پول</a>
                                                                            </div>

                                                                            <div class="c-header__profile-dropdown-account-item">
                                                                                <span class="c-header__profile-dropdown-account-item-title">‌کلاب</span>
                                                                                <span class="c-header__profile-dropdown-account-item-amount">
                                                                                    <span class="c-header__profile-dropdown-account-item-amount-number js-dc-current-points">46</span>
                                                                                    امتیاز
                                                                                </span>
                                                                            </div>-->
                                                                        </div>
                                                                        <a href="/profile/" data-snt-event="dkHeaderClick" data-snt-params="{&quot;item&quot;:&quot;account&quot;,&quot;item_option&quot;:&quot;profile&quot;}" data-event="profile_click" data-event-category="header_section" data-event-label="logged_in: True - digiclub_score: 87000" class="c-header__profile-dropdown-user-profile-full-link"></a>
                                                                    </div>
                                                                    <div class="c-header__profile-dropdown-actions">
                                                                        <div class="c-header__profile-dropdown-action-container">
                                                                            <a href="/order/ordersHistory" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--orders ">سفارش‌های من</a>
                                                                        </div>
                                                                        <!--
                                                                        <div class="c-header__profile-dropdown-action-container">
                                                                            <a href="/digiclub/rewards/" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--digiclub-gifts">
                                                                                جوایز دیجی‌کلاب
                                                                            </a>
                                                                        </div>
                                                                        -->
                                                                        <div class="c-header__profile-dropdown-action-container">
                                                                            <a href="/Account/Logout" data-snt-event="dkHeaderClick" data-snt-params="{&quot;item&quot;:&quot;account&quot;,&quot;item_option&quot;:&quot;sign-out&quot;}" class="c-header__profile-dropdown-action c-header__profile-dropdown-action--logout js-logout-button">خروج از حساب کاربری</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {

                                    <li class="wsshopmyaccount clearfix user-link-menu">
                                        <a href="/Account/Login" type="button" style="line-height: 40px;padding: 5px; margin-top: 10px !important;"
                                           class="btn btn-md btn-rounded btn-navbar waves-effect mt-3 waves-light border-default active_in_hover">
                                            <span><img class="width-24px" src="~/image/icons/profile.png" /></span>
                                            <span class="bolderspan00">ورود به حساب کاربری</span>
                                        </a>
                                    </li>

                                }
                                }

                                <li class="nav-item ">
                                    <a href="#sec-blog" class="nav-link waves-effect">
                                        <span class="bolderspan">مجله</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Home/Aboutus" class="nav-link waves-effect">
                                        <span class="bolderspan">درباره ما</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Home/Contactus" class="nav-link waves-effect">
                                        <span class="bolderspan">ارتباط ما</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!-- Breadcrumbs -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
