
@{
    ViewData["Title"] = "ByFilter";
}
@section Styles{
    <link href="/plugins/slideBar/bootstrap-slider.css" rel="stylesheet">
    <style>
        .page-link {
            border: 0;
        }

        .slider-example {
            padding-top: 5px;
            padding-bottom: 5px;
            margin: auto;
        }

        .scrollbar {
            height: 100px;
            background: #F5F5F5;
            overflow-y: scroll;
        }

        .force-overflow {
            min-height: 150px;
        }

        #sanatgarsfilter {
            max-height: 200px;
        }
        .scrollablebox::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        .scrollablebox::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        .scrollablebox::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }


        ul, #myUL {
            list-style-type: none;
        }

        #myUL {
            margin: 0;
            padding: 0;
        }

        .menucaret {
            cursor: pointer;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none;
            font-weight: 400;
        }

            .menucaret::before {
                content: "\f053";
                color: #0aa8b9;
                display: inline-block;
                margin-right: 6px;
            }

        .menucaret-down::before {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Safari */
            transform: rotate(-90deg);
        }

        .nested {
            display: none;
        }

            .nested.active {
                display: block;
            }

        .font-family-WYekan {
            font-family: 'WYekan'
        }

        .sing {
            padding-right: 18px;
        }
    </style>
}
<main>

    <div class="container">
        <div class="row category-product-wraper d-none">
            <!-- Section: Packages -->
            <div class="col-6">
                <div class="row">
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <img src="/image/icons/vase.png" class="width-30px" />

                                <div class="text-center mt-10">
                                    <h5>حکاکی روی فلز</h5>
                                    <span>50 کالا</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div class="category-product">
                            <a href="">
                                <div class="text-center mt-10 cat-more">
                                    <h5 class="font-size-1_8rem">13 +</h5>
                                    <span>دسته دیگر</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section: Packages -->

        </div>

        <div class="row mt-20">
            <div class="col-md-3 mt-3 mb-4">
                <!-- Section: Ads -->
                <form id="filtersFrm">
                    <section class="bg-gray p-15 border-radius-5 min-height-200px text-center mb-3 border-default">

                        <span class="line-height-200">تبلیغ</span>

                    </section>
                    <!-- Section: Ads -->
                    <!-- Section: Categories -->
                    <section class="bg-gray p-15 border-radius-5 mb-3 border-default">

                        <h5 class="mb-3">دسته بندی های کالا</h5>
                        <hr />
                        <div class="sidenav">
                            <!--<a href="#">دسته بندی</a>
                            <a href="#">دسته بندی</a>
                            <a href="#">دسته بندی</a>
                            <a href="#">دسته بندی</a>
                            <button class="dropdown-btn">
                                <i class="fa fa-chevron-left"></i>
                                دسته بندی
                            </button>
                            <div class="dropdown-container">
                                <a href="#"><i class="fa fa-chevron-down"></i> دسته بندی</a>
                                <a href="#"><i class="fa fa-chevron-down"></i> دسته بندی</a>
                                <a href="#"><i class="fa fa-chevron-down"></i> دسته بندی</a>
                                <a href="#"><i class="fa fa-chevron-down"></i> دسته بندی</a>
                            </div>-->

                        </div>
                        <div class="sidenavUI"></div>

                        <ul id="myUL">
                        </ul>

                    </section>
                    <!-- Section: Categories -->
                    <!-- Section: Filters -->
                    <section class="bg-gray p-15 border-radius-5 mb-3 border-default">

                        <h5 class="mb-4">فیلترها</h5>
                        <hr />

                        <section class="mb-4">

                            <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center bg-white border-1 border-solid border-default border-radius-5">
                                <input type="text" id="search12" class="form-control mb-0 border-0" placeholder="جستجو ...">
                                <a id="btnSearchInFiler" class="btn btn-flat btn-md px-3 waves-effect"><i class="fa fa-search vertical-align-middle"></i></a>
                            </div>

                        </section>

                        <!-- Section: Average -->
                        <section class="mb-4 scrollbar scrollablebox">
                            <div class="force-overflow"  id="sanatgarsfilter">

                            </div>
                            <!--<div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label text-uppercase card-link-secondary">فیلتر ش 1</label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label text-uppercase card-link-secondary">فیلتر ش 2</label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label text-uppercase card-link-secondary">فیلتر ش 3</label>
                            </div>-->

                        </section>
                        <!-- Section: Average -->
                        <hr />
                        <!-- Section: Price -->
                        <section class="mb-4">

                            <h6 class="font-weight-bold mb-3">محدودیت قیمت</h6>


                            <div id="example-9" class='slider-example'>
                                <span id="slidevalue">0,0</span>
                                <div class="card card-body mb-3" style="padding: 1.25rem 0;">
                                    <input id="ex9" type="text" value="0,0" />
                                </div>
                            </div>

                            <!--<div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" name="pricelimitfilter" data-filter-price-max="1000000">
                                    <label class="form-check-label text-uppercase card-link-secondary">زیر 1,000,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" name="pricelimitfilter" data-filter-price-max="2000000" data-filter-price-min="1000000">
                                    <label class="form-check-label text-uppercase card-link-secondary">1,000,000 الی 2,000,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" name="pricelimitfilter" data-filter-price-max="3000000" data-filter-price-min="2000000">
                                    <label class="form-check-label text-uppercase card-link-secondary">2,000,000 الی 3,000,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input type="radio" class="form-check-input" name="pricelimitfilter" data-filter-price-min="3000000">
                                    <label class="form-check-label text-uppercase card-link-secondary">بالاتر از 3,000,000</label>
                                </div>
    -->
                            <div class="d-flex align-items-center mt-4 pb-1">
                                <button id="btnfilterPrices" type="button" class="btn btn-info btn-block">اعمال فیلتر</button>
                            </div>

                        </section>
                        <!-- Section: Price -->

                    </section>
                    <!-- Section: Filters -->
                </form>
            </div>
            <div class="col-md-9">

                <!-- Section: Block Content -->
                <section>

                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-12 col-md-12 text-left text-md-left orderbyTags">
                            <a><span class="fa fa-align-left text-muted"></span> مرتب سازی براساس:</a>

                            <a href="javascript:filterOrderby(6)" data-orderby-number="6" class="text-reset bg-active-in-hover"><b>نشان ملی</b></a>
                            <a href="javascript:filterOrderby(3)" data-orderby-number="3" class="text-reset bg-active-in-hover"><small>پرفروش ترین</small></a>
                            <a href="javascript:filterOrderby(4)" data-orderby-number="4" class="text-reset bg-active-in-hover"><small>ارزان ترین</small></a>
                            <a href="javascript:filterOrderby(5)" data-orderby-number="5" class="text-reset bg-active-in-hover"><small>گران ترین</small></a>
                            <a href="javascript:filterOrderby(2)" data-orderby-number="2" class="text-reset bg-active-in-hover"><small>بیشترین امتیاز</small></a>
                            <a href="javascript:filterOrderby(1)" data-orderby-number="1" class="text-reset bg-active-in-hover"><small>جدیدترین</small></a>
                            <a href="javascript:removeFilterOrderBy()" class="bg-active-in-hover text-danger"><small>حذف فیلتر</small></a>
                        </div>
                    </div>

                </section>
                <!-- Section: Block Content -->
                <!--Section: Block Content-->
                <section>

                    <!-- Grid row -->
                    <div class="row mb-4 index-products" id="productsbox">
                        @*<div class="col-md-6 col-lg-4 mb-3 text-center">
                                    <div class="shopping-thumbnail card mb-3 ">
                                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#f6f6f8" width="100%" height="100%" /><text fill="#b7b7b7" dy=".3em" x="60%" y="50%">تصویر</text></svg>
                                        <div class="caption">
                                            <p>
                                                <b>
                                                    <a data-name="مینا کاری 1" data-price="100" class="add-to-cart"><i class="fa fa-shopping-basket solid-fa"></i></a><span class="border-1"></span>
                                                    <a><i class="fa fa-heart solid-fa"></i> </a><span class="border-1"></span>
                                                    <a><i class="fa fa-plus solid-fa"></i> </a>
                                                </b>
                                            </p>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title pricing-card-title">مینا کاری</h6>
                                            <p class="card-text">
                                                <i class="fa fa-star custom-fa"></i>
                                                <i class="fa fa-star custom-fa"></i>
                                                <i class="fa fa-star cyan"></i>
                                                <i class="fa fa-star cyan"></i>
                                                <i class="fa fa-star cyan"></i>
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title pricing-card-title m-auto">4000000 ت <small class="text-muted amount ml-2">4500000 ت</small></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-md-12 col-lg-12 text-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">«</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">»</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>*@

                    </div>
                    <!-- Grid row -->

                </section>
                <!--Section: Block Content-->

            </div>
        </div>

    </div>

</main>



@section Scripts{
    <script src="/plugins/slideBar/bootstrap-slider.js"></script>
    <script>
        // --------  SlideBar Price  ---------
        $("#ex9").on("change", function () {
            $("#slidevalue").html($("#ex9").val().split(",")[0] + " تا " + $("#ex9").val().split(",")[1]);

            filters.minPrice = $("#ex9").val().split(",")[0];
            filters.maxPrice = $("#ex9").val().split(",")[1];
        });

        var priceSlide = $("#ex9").slider({
            step: 20000,
            min: 0,
            max: 100000000,
            precision: 2,
            range: true,
            value: [0, 100000000],
            tooltip: 'hide',
            //tooltip_position: 'left'
        });

        //--------------------------------------

        let bindMenuLinks = () => {
            var toggler = document.getElementsByClassName("menucaret");
            var i;

            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("menucaret-down");
                });
            }
        };

        //======================

        let LoadCategories = () => {
            $.ajax({
                type: 'POST',
                url: "/Home/GetCatProductList_UI",

                success: function (result) {
                    $("#myUL").html('');

                    $.each(result.data.objList, function (e, v) {
                        var child = "";
                        if (v.inverseP.length > 0) {
                            child = `<ul class="nested">`;
                            $.each(v.inverseP, function (e2, v2) {
                                child += `<li><a href="javascript:filterbyCategory(${v2.id})" data-cat-number="${v2.id}">${v2.name}</a></li>`;
                            });
                            child += "</ul>";

                            $("#myUL").append(`<li><span class="fa menucaret">
                                                                    <span class="font-family-WYekan cyan"><a href="javascript:filterbyCategory(${v.id})" data-cat-number="${v.id}"><span class="font-family-WYekan sing">${v.name}</span></a></span>
                                                                </span>${child}</li>`);

                        }
                        else {
                            $("#myUL").append(`<li><a href="javascript:filterbyCategory(${v.id})" data-cat-number="${v.id}"><span class="font-family-WYekan sing">${v.name}</span></a></li>`);
                        }
                    });

                    bindMenuLinks();

                    menucontent = "";
                    //GetMenuChilds(result.data.objList);
                    //$("#myUL").html(menucontent);

                    //$("#myUL").html(result.message);
                    //bindMenuLinks();
                }
            });
        }

        var menucontent = "";

        let GetMenuChilds = (plist) => {
            debugger;

            $.each(plist, function (e, v) {



                var child = "";
                if (v.inverseP.length > 0) {

                    menucontent += `<li><span class="fa menucaret">
                                                        <span class="font-family-WYekan cyan">${v.name}</span>
                                                    </span>`;

                    child += `<ul class="nested">`;

                    GetMenuChilds(v.inverseP);

                    child += "</ul>";

                    menucontent += child + "</li>";
                }
                else {
                    menucontent += `<li><a href="javascript:filterbyCategory(${v.id})" data-cat-number="${v.id}">${v.name}</a></li>`;
                }
            });

        }

        let GetProductList_Paging_Filtering_UI = (catProductId, productName, minPrice, maxPrice, sortMethod, pageNumber, pageSize) => {

            // Set Sanatgar Value To Filters
            var sellerIdList = [];
            $.each($("input[name='sanatgarcode']:checked"), function (c, d) {
                sellerIdList.push(parseInt($(d).val()));
            })
            console.log(sellerIdList);

            $.ajax({
                type: 'POST',
                url: "/Product/GetProductList_Paging_Filtering_UI",
                data: {
                    catProductId: filters.catProductId,
                    productName: productName,
                    minPrice: filters.minPrice,
                    maxPrice: filters.maxPrice,
                    sortMethod: filters.sortMethod,
                    pageNumber: filters.pageNumber,
                    pageSize: pageSize,
                    sellerIdList: sellerIdList.length > 0 ? sellerIdList : []
                },
                success: function (result) {
                    $("#productsbox").html('');
                    $("#sanatgarsfilter").html('');
                    var productsbox = $("#productsbox");
                    var sanatgarsfilter = $("#sanatgarsfilter");

                    if (result.success == false) {
                        $("#productsbox").append(`<div class="alert alert-danger col-md-12 col-lg-12 text-center">${result.message}</div>`);
                    }

                    if (result.data?.obj != null) {
                        $.each(result.data.obj.productList, function (e, v) {
                            var rat = "";
                            if (v.rating != undefined) {
                                var r = v.rating.toFixed();

                                for (var i = 5; i > 0; i--) {
                                    if (r - i < 0) {
                                        rat += `<i class="fa fa-star custom-fa"></i>`;
                                    } else {
                                        rat += `<i class="fa fa-star cyan"></i>`;
                                    }
                                }
                            } else {
                                for (var i = 0; i < 5; i++) {
                                    rat += `<i class="fa fa-star custom-fa"></i>`;
                                }
                            }

                            productsbox.append(`
                                           <div class="col-md-6 col-lg-4 mb-3 text-center shopping-card-box">
                                            <a href="/product/Index?id=${v.id}">
                                             <div class="shopping-thumbnail card mb-3 ">
                                                 <image src="${v.coverImageUrl}" class="bd-placeholder-img card-img-top" width="100%" height="225" />

                                                 <div class="card-body">
                                                     <h6 class="card-title pricing-card-title">${v.name}</h6>
                                                     <p class="card-text ratingbox">
                                                         ${rat}
                                                     </p>
                                                     <div class="d-flex justify-content-between align-items-center">
                                                         <h5 class="card-title pricing-card-title m-auto">${v.price} ت ${v.offerAmount != undefined ? `<small class="text-muted amount ml-2">${v.offerAmount}</small>` : ''}</h5>
                                                     </div>
                                                 </div>
                                             </div>
                                            </a>
                                             <div class="caption">
                                                     <p>
                                                         <b>
                                                             <a data-product-id="${v.id}" data-product-image="${v.coverImageUrl}" data-product-name="${v.name}" data-product-price="${v.price}" data-product-mellicode="${v.coding}" class="add-to-cart"><i class="fa fa-shopping-basket solid-fa"></i></a><span class="border-1"></span>
                                                             <a><i class="fa fa-heart solid-fa"></i> </a><span class="border-1"></span>
                                                             <a><i class="fa fa-plus solid-fa"></i> </a>
                                                         </b>
                                                     </p>
                                                 </div>
                                             </div>
                                     `);

                            if ($("input[name='sanatgarcode'][value='" + v.sellerId + "']").length == 0)
                                sanatgarsfilter.append(`<div class="form-check mb-2">
                                        <input type="checkbox" class="form-check-input" name="sanatgarcode" value="${v.sellerId}">
                                        <label class="form-check-label text-uppercase card-link-secondary">${v.sellerName}</label>
                                    </div>`);
                        });

                        if (result.data != null && result.data?.obj.productList.length != 0) {
                            var totalcount = result.data.obj.totalCount;
                            var pagingBox = "";

                            console.log("mod", totalcount % 12);
                            var pages = Math.ceil(totalcount / 12);//.toFixed();
                            //if (totalcount % 12 > 0)
                            //    pages = parseInt(pages)+ 1;

                            var indexStart = (filters.pageNumber != undefined & filters.pageNumber != null) ? filters.pageNumber : 1;

                            pagingBox += `<div class="col-md-12 col-lg-12 text-center">
                                                                                            <nav aria-label="Page navigation example">
                                                                                                <ul class="pagination justify-content-center productpagination">`;

                            if (filters.pageNumber > 1) {
                                pagingBox += `<li class="page-item">
                                                                                            <a class="page-link" href="#" tabindex="-1" onclick="filterByGotoPage(${filters.pageNumber - 1})" data-paging-number='${filters.pageNumber - 1}'>«</a>
                                                                                        </li>`;
                            }
                            else {
                                pagingBox += `<li class="page-item disabled">
                                                                                            <a class="page-link" href="#" tabindex="-1">«</a>
                                                                                        </li>`;
                            }

                            for (var i = indexStart - 4; i < indexStart + 4; i++) {
                                var addActiveCls = "";
                                if (i == filters.pageNumber) addActiveCls = "active";
                                if (i <= pages & i >= 1) {
                                    pagingBox += `<li class="page-item ${addActiveCls}"><a class="page-link border-radius-5" onclick="filterByGotoPage(${i})" data-paging-number='${i}'>${i}</a></li>`;
                                }
                            }

                            if (filters.pageNumber < pages) {
                                pagingBox += `<li class="page-item">
                                                                                            <a class="page-link" href="#" tabindex="-1" onclick="filterByGotoPage(${filters.pageNumber + 1})" data-paging-number='${filters.pageNumber + 1}'>»</a>
                                                                                        </li>`;
                            }
                            else {
                                pagingBox += `<li class="page-item disabled">
                                                                                            <a class="page-link" href="#" tabindex="-1">»</a>
                                                                                        </li>`;
                            }

                            pagingBox += `</ul></nav></div>`;

                            productsbox.append(pagingBox);

                            //======= Set Limit Of Price Min Max

                            $("#ex9").slider("enable");

                            priceSlide = $("#ex9").slider({
                                step: 20000,
                                min: result.data.obj.minPrice,
                                max: result.data.obj.maxPrice,
                                precision: 2,
                                range: true,
                                value: [result.data.obj.minPrice, result.data.obj.maxPrice],
                                tooltip: 'hide',
                                //tooltip_position: 'left'
                            });

                            $("#ex9").val(result.data.obj.minPrice + "," + result.data.obj.maxPrice).trigger("change");

                            // scroll to up
                            $('html, body').animate({
                                scrollTop: 0
                            }, 600);

                        } else {
                            priceSlide = $("#ex9").slider({
                                step: 20000,
                                min: 0,
                                max: 200000000,
                                precision: 2,
                                range: true,
                                value: [0, 200000000],
                                tooltip: 'hide',
                            });
                            $("#ex9").slider("disable");
                            $("#ex9").val("0,200000000").trigger("change");

                            $("#productsbox").append(`<div class="alert alert-danger col-md-12 col-lg-12 text-center">داده ای برای نمایش وجود ندارد</div>`);
                        }
                    }

                    cartEvents.init();
                }
            });
        }

        var removeFilterOrderBy = () => {
            filters.sortMethod = null;
            filters.catProductId = null;
            filters.maxPrice = null;
            filters.minPrice = null;
            $("div.orderbyTags a").removeClass("active");

            $("#filtersFrm")[0].reset();
            GetProductList_Paging_Filtering_UI();

            GetCatProductListByParentId_UI();
        };

        var filterOrderby = (filterOrderbyNum) => {
            filters.sortMethod = filterOrderbyNum;

            $("div.orderbyTags a").removeClass("active");
            $("a[data-orderby-number=" + filterOrderbyNum + "]").addClass("active");

            GetProductList_Paging_Filtering_UI();
        };

        var filterbyCategory = (catId) => {
            filters.catProductId = catId;

            $("div.sidenav a").removeClass("active");
            $("div.sidenav").find("a[data-cat-number=" + catId + "]").addClass("active");

            GetProductList_Paging_Filtering_UI();

            GetCatProductListByParentId_UI();
        };

        var filterByGotoPage = (pageNumber) => {
            filters.pageNumber = pageNumber;

            $(".productpagination li a").removeClass("active");
            $(".productpagination li a[data-paging-number=" + pageNumber + "]").addClass("active");

            GetProductList_Paging_Filtering_UI();
        }

        function getQueryStringValue(key) {
            return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
        }

        $("#btnSearchInFiler,#btnfilterPrices").on("click", function () {
            var pname = $("#search12").val();
            //var minp = $("input[name='pricelimitfilter']:checked").data("filter-price-min");
            //var maxp = $("input[name='pricelimitfilter']:checked").data("filter-price-max");

            //filters.minPrice = minp;
            //filters.maxPrice = maxp;

            GetProductList_Paging_Filtering_UI(productName = pname);
        });

        //  دسته بندی های فرزند
        let GetCatProductListByParentId_UI = () => {
            $(".category-product-wraper").addClass("d-none");
            try {
                $.ajax({
                    type: 'POST',
                    url: "/Home/GetCatProductListByParentId_UI",
                    data: { catId: filters.catProductId },
                    success: function (result) {
                        $(".category-product-wraper").html('');
                        var catBox1 = "";
                        var catBox2 = "";
                        if (result.data != null) {
                            $.each(result.data.objList, function (e, v) {
                                if (e == 0 || e == 1 || e == 2 || e == 3) {
                                    catBox1 += (`<div class="col mt-2">
                                                                <div class="category-product">
                                                                    <a href="/Product/ByFilter?catId=${v.id}">
                                                                        <img src="/image/icons/vase.png" class="width-30px" />

                                                                        <div class="text-center mt-10">
                                                                            <h5>${v.name}</h5>
                                                                            <span>${v.productCount} کالا</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>`);
                                }

                                if (e == 4 || e == 5 || e == 6) {
                                    catBox2 += (`<div class="col mt-2">
                                                                <div class="category-product">
                                                                    <a href="/Product/ByFilter?catId=${v.id}">
                                                                        <img src="/image/icons/vase.png" class="width-30px" />

                                                                        <div class="text-center mt-10">
                                                                            <h5>${v.name}</h5>
                                                                            <span>${v.productCount} کالا</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>`);
                                }

                                $(".category-product-wraper").removeClass("d-none");
                            });

                            var otherCat = "";
                            if (result.data.objList.length > 7) {
                                otherCat = `<div class="col mt-2">
                                                            <div class="category-product">
                                                                <a href="">
                                                                    <div class="text-center mt-10 cat-more">
                                                                        <h5 class="font-size-1_8rem">13 +</h5>
                                                                        <span>دسته دیگر</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>`;
                            }

                            $(".category-product-wraper").html(`<div class="col-6"><div class="row">${catBox1}</div></div>
                                                                    <div class="col-6"><div class="row">${catBox2}${otherCat}</div></div>`);
                        }
                    }
                });
            } catch (e) {
            }
        }

        //============ Load ============
        jQuery(document).ready(function () {
            LoadCategories();

            var catId = getQueryStringValue("catId");
            var OrderBy = getQueryStringValue("OrderBy");

            if (OrderBy != null && OrderBy != "") {
                filters.sortMethod = OrderBy;

                $("div.orderbyTags a").removeClass("active");
                $("a[data-orderby-number=" + OrderBy + "]").addClass("active");
            }

            if (catId != null && catId != "") {
                filters.catProductId = catId;

                $("div.sidenav a").removeClass("active");
                $("div.sidenav").find("a[data-cat-number=" + catId + "]").addClass("active");

                GetCatProductListByParentId_UI();
            }

            //catProductId, productName, minPrice, maxPrice, sortMethod, pageNumber, pageSize
            GetProductList_Paging_Filtering_UI();

        });

        var filters = {
            pageNumber: 1,
            minPrice: null,
            maxPrice: null
        };
    </script>

}
