
@{
    ViewData["Title"] = ViewData["BreadcrumbNode"];
}
@section Styles{

}

<div class="col">
    <breadcrumb></breadcrumb>
</div>

<section>
    <div class="">
        <div class="card-deck mb-3 text-center m-0">
            <div class="col col-sm-12 col-md-5">
                <div class="card mb-4 m-0 border-0">
                    <div class="mb-3 text-center">
                        <div class="row m-0">
                            <img class="w-100 border-radius-10" src="~/image/product/product-01.jpg" />
                        </div>
                        <div class="row mt-3">

                            <div class="col-3"><img class="w-100 height-175px border-radius-10" src="~/image/product/product-01.jpg" /></div>
                            <div class="col-3"><img class="w-100 height-175px border-radius-10" src="~/image/product/product-01.jpg" /></div>
                            <div class="col-3"><img class="w-100 height-175px border-radius-10" src="~/image/product/product-01.jpg" /></div>
                            <div class="col-3"><img class="w-100 height-175px border-radius-10" src="~/image/product/product-01.jpg" /></div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card mb-4 m-0">
                    <div class="card-body text-left bg-gray">
                        <div class="row m-0">
                            <div class="col col-6 m-0"><h5 class="card-title pricing-card-title">آویز رومانتویی</h5></div>
                            <div class="col col-6 m-0"><h5 class="card-title pricing-card-title">شناسه یکتای محصول: 1234</h5></div>
                        </div>
                        <hr />
                        <div class="row m-0">
                            <div class="col col-6 m-0">
                                <span class="card-title pricing-card-title custome-muted-header">تولید کننده:</span>
                                <span class="card-title cyan">علی علیپور</span>
                            </div>
                            <div class="col col-6 m-0">
                                <span class="card-title pricing-card-title custome-muted-header">دسته بندی:</span>
                                <span class="card-title cyan">حکاکی روی فلز</span>
                            </div>
                        </div>
                        <div class="row0 mt-20">
                            <div class="col col-12 d-flex">
                                <div class="d-inline ml-10 mt-5px color-black">انتخاب رنگ:</div>
                                <div class="d-inline">
                                    <ul class="list-unstyled color-product-list d-inline-block m-0">
                                        <li><a class="color-product-a active"><div><div class="circle-color-product cyan"></div> فیروزه ای</div></a></li>
                                        <li><a class="color-product-a"><div><div class="circle-color-product red"></div> قرمز</div></a></li>
                                        <li><a class="color-product-a"><div><div class="circle-color-product bg-warning"></div> قهوه ای</div></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row0 m-0">
                            <div class="col col-12 d-flex">
                                <div class="d-inline ml-10 mt-5px color-black">بسته بندی:</div>
                                <div class="d-inline">
                                    <div class="form-check form-check-inline package-type-radio-box active">
                                        <input class="form-check-input" type="radio" name="packageType" value="1" checked>
                                        <label class="form-check-label" for="inlineRadio1"> عادی</label>
                                    </div>
                                    <div class="form-check form-check-inline package-type-radio-box">
                                        <input class="form-check-input" type="radio" name="packageType" value="2">
                                        <label class="form-check-label" for="inlineRadio1"> ویژه</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 mt-5">
                            <div class="col col-12 m-0">
                                <span class="card-title pricing-card-title font-weight-bold">مشخصات محصول</span>
                                <ul class="list-unstyled firoozi-desc mt-3 mb-4 custome-muted-header">
                                    <li>نوع کار: ملیله</li>
                                    <li>جنس: نقره 99% خالص، دارای لاک محافظ</li>
                                    <li>طول: 6cm</li>
                                    <li>وزن: 7.17g</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row m-0">
                            <div class="col col-12 m-0">
                                <p class="card-text">
                                    <i class="fa fa-star custom-fa"></i>
                                    <i class="fa fa-star custom-fa"></i>
                                    <i class="fa fa-star cyan"></i>
                                    <i class="fa fa-star cyan"></i>
                                    <i class="fa fa-star cyan"></i>
                                </p>
                                <div class="d-flex justify-content-between custome-muted-header">
                                    <h5 class="card-title pricing-card-title">4,000,000 ت <small class="text-muted amount ml-2">4,500,000 ت</small></h5>
                                </div>
                                <div class="d-flex justify-content-between align-items-center custome-muted-header">
                                    <form class="form-inline mt-2" dir="rtl">
                                        @*<div class="spinner border-radius-5">
                            <a name="beforeAddtocartPlus"><span class="fa fa-plus"></span></a>
                            <input type="text" name="quantity" value="1" class="form-control width-40px border-0" readonly>
                            <a name="beforeAddtocartMinus"><span class="fa fa-minus"></span></a>
                        </div>*@
                                        <button data-name="مینا کاری 1" data-price="100" class="add-to-cart btn btn-info mx-1 my-sm-0" type="button">افزودن به سبد خرید</button>

                                        <div class="shared-box">
                                            <div>
                                                <i class="fa fa-heart fa-2x solid-fa"></i>
                                                <i class="fa fa-bell fa-2x solid-fa"></i>
                                                <a data-toggle="modal" data-target="#sharedModal"><i class="fa fa-share-alt fa-2x solid-fa"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row m-0 text-center">
                            <div class="col"><img src="~/image/icons/no-color/truck.png" /></div>
                            <div class="col"><img src="~/image/icons/no-color/garanti.png" /></div>
                            <div class="col"><img src="~/image/icons/no-color/support.png" /></div>
                            <div class="col"><img src="~/image/icons/no-color/7day.png" /></div>
                            <div class="col"><img src="~/image/icons/no-color/Packet.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container product-detail-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">نقد و بررسی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">مشخصات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">نظرات کاربران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">پرسش و پاسخ</a>
            </li>
        </ul>
        <div class="tab-content bg-gray" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>

<!---- اشتراک گذاری ---->
<div class="modal fade" id="sharedModal" tabindex="-1" role="dialog" aria-labelledby="اشتراک گذاری" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">اشتراک گذاری</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold text-muted">
                    با استفاده از روش های زیر می توانید این کالا را با دوستان خود به اشتراک بگذارید.
                </p>
                <p class="mt-5">
                    <a href=""><img src="~/image/icons/socials/icons8-aparat-480.png" class="width-40px" /></a>
                    <a href=""><img src="~/image/icons/socials/icons8-pinterest-1000.png" class="width-40px" /></a>
                    <a href=""><img src="~/image/icons/socials/icons8-facebook-1000.png" class="width-40px" /></a>
                    <a href=""><img src="~/image/icons/socials/icons8-twitter-1000.png" class="width-40px" /></a>
                    <a href=""><img src="~/image/icons/socials/icons8-telegram-app-1000.png" class="width-40px" /></a>
                    <a href=""><img src="~/image/icons/socials/icons8-instagram-1000.png" class="width-40px" /></a>
                    <a class="btn btn-outline-dark"><i class="fa fa-copy"></i> کپی لینک</a>
                </p>
                <hr />
                <div class="row m-0">
                    <div class="col-6">
                        <h4>جایزه شما</h4>
                        <p class="text-muted">با دعوت دوستانتان، پس از اولین خریدشان،کد تخفیف و امتیاز هدیه بگیرید</p>
                        <p><a class="btn text-danger btn-outline-info">دریافت کد تخفیف</a></p>
                    </div>
                    <div class="col-6">
                        <img src="~/image/share-popup.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        /*$("a[name=beforeAddtocartPlus]").on("click", function () {
            var cval = $("input[name='quantity']").val();
            $("input[name='quantity']").val(parseInt(cval) + 1);
        });
        $("a[name=beforeAddtocartMinus]").on("click", function () {
            var cval = $("input[name='quantity']").val();
            if (parseInt(cval) - 1 == 0)
                return;
            else
                $("input[name='quantity']").val(parseInt(cval) - 1);
        });*/

        $(".color-product-a").on("click", function () {
            $(".color-product-a").removeClass("active");
            $(this).addClass("active");
        });

        $("input[name=packageType]").on("click", function () {
            $(".package-type-radio-box").removeClass("active");
            $(this).parent("div.package-type-radio-box").addClass("active");
        });
    </script>
}
