.section-full-page {
    position: relative;
    /*display: -webkit-box;
        display: -ms-flexbox;
        display: flex;*/
    min-height: 100vh;
    max-height: 100vh;
}

.seller-sidebar-full-page {
    background-color: #f5f7fa;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
    overflow: auto;
}

.seller-sidebar-logo {
    display: inline-block;
    margin-bottom: 46px;
}

.seller-sidebar-content {
    max-width: 370px;
    padding: 60px 60px 30px 40px;
    margin: auto;
}

.seller-sidebar-header {
    margin-bottom: 20px;
    text-align: center;
}

.seller-sidebar-header-h1 {
    font-size: 20px;
    font-size: 1.429rem;
    line-height: 35px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
}

.seller-sidebar-ul-right {
    list-style: none;
    padding-right: 10px;
}

    .seller-sidebar-ul-right li a {
        display: flex;
    }

    .seller-sidebar-ul-right li {
        position: relative;
        margin: 33px 0;
    }

.menu-img-span {
    position: relative;
    width: 92px;
}

    .menu-img-span img {
        width: 40px;
        height: 40px;
    }

.seller-sidebar-ul-right .li_before:before {
    content: "";
    display: block;
    width: 1px;
    /* right: 20px; #c0c2c5;*/
    height: 33px;
    background: #c0c2c5;
    position: absolute;
    top: -31px;
    right: 24px;
    z-index: 97;
}

.seller-sidebar-ul-right .li_after:after {
    content: "";
    display: block;
    width: 1px;
    height: 36px;
    background: #c0c2c5;
    position: absolute;
    right: 24px;
    top: 40px;
    z-index: 99;
}

.active-text {
    color: black;
}
/******** content page *********/
.seller-main-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
}

.reg_login_content {
    padding-top: 100px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@media screen and (min-width: 992px) {
    .reg_login_content_mainform {
        width: 465px;
    }
}

.heght-65px {
    height: 65px;
}

.heght-100per {
    height: 100%;
}

.reg-element .form-control {
    border-radius: 0 1.6rem 1.6rem 0 !important;
    direction: ltr;
}

.reg-element .input-group-prepend .input-group-text {
    border-radius: 1.6rem 0 0 1.6rem;
    background-color: #ffffff;
}

    .reg-element .input-group-prepend .input-group-text img {
        width: 28px;
        margin: auto 7px;
    }

.reg-element .form-control.without-icon {
    border-radius: 1.6rem 1.6rem !important;
}

.width-50per {
    width: 50%;
}

.height-40px {
    height: 40px;
}

.comp-info label {
    margin-right: .9rem;
}

.comp-info .reg-element .form-control {
    border-radius: 0.8rem !important;
    direction: rtl;
    height:100%;
}

.comp-info .reg-element .form-control.with-icon {
    border-radius: 0 0.8rem 0.8rem 0 !important;
}
.comp-info .reg-element .input-group-prepend .input-group-text {
    border-radius: .8rem 0 0 .8rem;
}
.direction-ltr {
    direction: ltr !important
}

.min-width-200px{
    min-width:200px !important;
}