<!-- فوتر -->
<footer class="bg-gray footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/truck.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">تحویل اکسپرس</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/garanti.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">ضمانت اصل بودن کالا</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/support.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">پشتیبانی 24 ساعته</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/monybag.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">7 روز ضمانت بازگشت</div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">راهنمای خرید از سرای</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>نحوه ثبت سفارش</li>
                        <li>رویه ارسال سفارش</li>
                        <li>شیوه های پرداخت</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">خدمات مشتریان</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>نحوه ثبت سفارش</li>
                        <li>رویه ارسال سفارش</li>
                        <li>شیوه های پرداخت</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">با سرای</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>نحوه ثبت سفارش</li>
                        <li>رویه ارسال سفارش</li>
                        <li>شیوه های پرداخت</li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 text-left">
                    <h6 class="card-title pricing-card-title">از تخفیف ها و جدیدترین های سرای باخبر شوید:</h6>
                    <form class="frmRss form-inline mt-2" dir="rtl">
                        <input class="form-control text-left email" type="text" placeholder="آدرس ایمیل خود را وارد نمایید" aria-label="ارسال">
                        <button class="btn btn-info my-2 my-sm-0 send-email-btn" type="submit">ارسال</button>
                    </form>
                    <h6 class="card-title pricing-card-title mt-2">سرای را در شبکه های اجتماعی دنبال کنید</h6>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <div class="card mb-4 text-left">
                    <h6 class="card-title pricing-card-title">فروشگاه اینترنتی سرای، بررسی، انتخاب و خرید آنلاین</h6>
                    <div class="mt-3 mb-4 custome-muted-text">
                        <p class="text-wrap line-height-30">
                            اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای
                            اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای
                            اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای
                            اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای
                            اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای اینترنتی صنایع دستی سرای
                        </p>
                    </div>
                </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-12">
                <div class="card mb-4 text-right">
                    <div class="form-inline mt-2" dir="ltr">
                        <a><img src="~/image/zarrinpal.jpg" /></a>
                        <a><img src="~/image/nomad.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>
