
@{
    ViewData["Title"] = "Cart";
}

@section Styles{
    <style>
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
}

<h3 class="color-firouzi">سبد خرید</h3>

<div class="cart-box">
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>محصولات</th>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                    <th>جمع کل</th>
                    <th>نوع بسته بندی</th>
                    <th>حذف/ذخیره در لیست خریدبعدی</th>
                </tr>
            </thead>
            <tbody class="show-cart">
                @*<tr>
                        <td> <img src="~/image/express.jpg" class="img-fluid" /></td>
                        <td>ظرف 5 تیکه <br />شناسه یکتا 00000</td>
                        <td>2500000</td>
                        <td>
                            <form class="form-inline mt-2" dir="rtl">
                                <div class="spinner border-radius-5">
                                    <span class="fa fa-plus"></span>
                                    <input type="text" name="quantity" value="1" class="form-control width-50px border-0">
                                    <span class="fa fa-minus"></span>
                                </div>
                            </form>
                        </td>
                        <td>2500000</td>
                        <td>
                            <span class="fa fa-check text-success fa-bold"></span><span>/</span>
                            <span class="fa fa-times"></span>
                        </td>
                    </tr>
                    <tr>
                        <td> <img src="~/image/express.jpg" class="img-fluid" /></td>
                        <td>ظرف 5 تیکه <br />شناسه یکتا 00000</td>
                        <td>2500000</td>
                        <td>
                            <form class="form-inline mt-2" dir="rtl">
                                <div class="spinner border-radius-5">
                                    <span class="fa fa-plus"></span>
                                    <input type="text" name="quantity" value="1" class="form-control width-50px border-0">
                                    <span class="fa fa-minus"></span>
                                </div>
                            </form>
                        </td>
                        <td>2500000</td>
                        <td>
                            <span class="fa fa-check text-success fa-bold"></span><span>/</span>
                            <span class="fa fa-times"></span>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>

    <hr />

    <div class="row">
        <div class="col-12 col-sm-7 mt-3">
            <div class="col-12 bg-gray border-radius-20 pt-20px pl-25px pr-25px pb-20px">
                <h4>نحوه پرداخت</h4>

                <div class="row mt-4" id="paymentTypesBox">
                    <div class="col">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked="checked">
                            <b>پرداخت آنلاین</b>
                            <br />
                            <small class="text-muted">آنلاین با تمامی کارت های بانکی</small>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                            <b>پرداخت اقساطی</b>
                            <br />
                            <small class="text-muted">اقساطی به صورت</small>
                        </label>
                    </div>
                </div>

                <h4 class="mt-4">کارت هدیه و کدتخفیف</h4>
                <div class="row">
                    <div class="col mr-3">
                        <div class="input-group input-group-sm pt-5px pb-5px pr-10px pl-10px mr-10 ml-10 border-default border-radius-20">
                            <input type="text" id="inputOfferCode" class="form-control fix-rounded-right bg-gray border-0 border-radius-10" style="height:48px;" placeholder="ثبت کد تخفیف">
                            <div class="input-group-prepend">
                                <span class="input-group-text background-none border-0">
                                    <button type="button" id="btnSetOffer" class="btn color-firouzi border-0">ثبت</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col mr-3">
                        <div class="input-group input-group-sm pt-5px pb-5px pr-10px pl-10px mr-10 ml-10 border-default border-radius-20">
                            <input type="text" class="form-control fix-rounded-right bg-gray border-0 border-radius-10" style="height:48px;" placeholder="افزودن کارت هدیه جدید">
                            <div class="input-group-prepend">
                                <span class="input-group-text background-none border-0">
                                    <button class="btn color-firouzi border-0">ثبت</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="mt-5 mb-5">آدرس تحویل سفارش</h4>

                <div class="row">
                    <div class="col mr-3">
                        <p>
                            @*آذربایجان شرقی، تبریز، رشدیه، بلوار بهارستان،برج رشدیه، بلوک ب، طبقه ١١ ،واحد ١١٣ ،
                                پلاک ١*@
                            <span id="addressBox"></span>
                            <br />
                            <br />
                            <span class="text-muted"><i class="fa fa-user solid-fa"></i> <span id="fullname"></span>@*زهره جمشیدی*@</span>
                            <br />
                            <a href="/Shoppingcart/Address" class="color-firouzi"><i class="fa fa-angle-right"></i> تغییر یا ویرایش آدرس</a>
                        </p>
                    </div>

                </div>

                <h4 class="mt-5 mb-5">زمان ارسال</h4>

                <div class="row">
                    <div class="col mr-3 cart-send-date-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    پنج شنبه
                                    <small class="form-text text-muted-in-dark ">
                                        25 مهر
                                    </small>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                    جمعه
                                    <small class="form-text text-muted-in-dark ">
                                        26 مهر
                                    </small>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    شنبه
                                    <small class="form-text text-muted-in-dark ">
                                        27 مهر
                                    </small>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">
                                    یکشنبه
                                    <small class="form-text text-muted-in-dark ">
                                        28 مهر
                                    </small>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content bg-white mb-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="col-12 pt-3 pb-3 pr-2">
                                    <label>
                                        <input type="radio" value="1" checked="checked">
                                        <small class="text-muted">ساعت 9 تا 22</small>
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <br />
                                <br />
                                <br />
                            </div>
                            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-12 col-sm-5 mt-3">
            <div class="col-12 bg-white border-radius-20">
                <h3 class="bg-gray p-4 border-radius-20">جمع کل</h3>

                <table class="w-100">
                    <tbody>
                        <tr>
                            <td class="line-height-60">قیمت کالا(<span class="total-count"></span>)</td>
                            <td class="line-height-60 text-right"><span class="total-cart">0</span> تومان</td>
                        </tr>
                        <tr>
                            <td class="line-height-60">تخفیف کالاها</td>
                            <td class="line-height-60 text-right color-firouzi">(<span id="offerPrecent">0</span>%) تخفیف کالاها</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td class="line-height-60 font-weight-bold">جمع</td>
                            <td class="line-height-60 text-right font-weight-bold"><span id="totalBeforeOffer">0</span> تومان</td>
                        </tr>
                        <tr>
                            <td class="line-height-60">هزینه ارسال</td>
                            <td class="line-height-60 text-right">رایگان</td>
                        </tr>
                        <tr>
                            <td class="line-height-60">هزینه بسته بندی</td>
                            <td class="line-height-60 text-right color-firouzi">9500 ت</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td class="line-height-60 font-weight-bolder">مبلغ قابل پرداخت</td>
                            <td class="line-height-60 text-right font-weight-bolder"><span class="totalPayment">0</span> تومان</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-4 mr-4 ml-4">
                    <button type="button" class="btn btn-info btn-block p-2 font-size-20px font-weight-bold border-radius-10">تایید سفارشات</button>
                </div>

                <div class="col-10 offset-md-1">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="line-height-60">امتیاز باشگاه</td>
                                <td class="line-height-60 text-right">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-box-empty d-none bg-gray">
    <div class="row">
        <div class="col-12">
            <div class="container bg-white border-radius-10 p-5 text-center mt-25 mb-25 card">
                <img src="~/image/cart-empty.png" width="200" class="m-auto" />

                <h3 class="mt-3">سبد خرید شما خالی است!</h3>
                <p>می توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید</p>
                <div class="text-center">
                    <a href="/Product/ByFilter?OrderBy=6" class="ml-3 mr-3">جدیدترین</a>
                    <a href="/Product/ByFilter?OrderBy=2" class=" ml-3 mr-3" ">پرفروش ترین</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="messagesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">پیغام سیستم</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="messageTag"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $("#addressBox").html(localStorage.getItem("address"));
        $("#fullname").html(localStorage.getItem("fullname"));

        if (shoppingCart.totalCount() == 0) {
            $(".cart-box").addClass("d-none");
            $(".cart-box-empty").removeClass("d-none");
        } else {
            $(".cart-box-empty").addClass("d-none");
            $(".cart-box").removeClass("d-none");
        }

        $("#btnSetOffer").on("click", function () {
            if (isSetOffer == false)
                GetOfferValueByCode_UI();
            else {
                $("#messageTag").html("شما قبلا از کد تخفیف استفاده کرده اید");
                $("#messagesModal").modal("show");
            }
        });

        // شیوه ی پرداخت
        function GetPaymentTypeList() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetPaymentTypeList_UI",
                data: {},
                success: function (result) {
                    if (result.success == true) {
                        $("#paymentTypesBox").empty();

                        $.each(result.data?.objList, function (e, v) {
                            var check = "";
                            if (e == 0) check = "checked";
                            $("#paymentTypesBox").append(`<div class="col">
                                                <label>
                                                    <input type="radio" name="optionsPaymentTypeRadios" value="${v.id}" ${check}>
                                                    <b>${v.title}</b>
                                                    <br />
                                                    <small class="text-muted">${v.description}</small>
                                                </label>
                                            </div>`);
                        });
                    }
                }
            });
        }

        // اعمال کد تخفیف
        function GetOfferValueByCode_UI() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetOfferValueByCode_UI",
                data: { offerCode: $("#inputOfferCode").val() },
                success: function (result) {
                    debugger
                    if (result.success == true) {

                        if (result.data?.objList.length == 0) return false;

                        objOffers = result.data?.objList[0];
                        var total = $("span.total-cart").text();

                        if (objOffers?.value) {
                            $("#offerPrecent").html(objOffers?.value);

                            if (objOffers?.maximumPrice != null) {
                                if (objOffers?.maximumPrice < parseInt(total) * parseInt(objOffers?.value)) {
                                    $("#totalBeforeOffer").html(parseInt(total) - parseInt(objOffers?.maximumPrice));
                                    $("#totalPayment").html(parseInt(total) - parseInt(objOffers?.maximumPrice));
                                    allData.totalbeforeOffer = parseInt(total) - parseInt(objOffers?.maximumPrice);
                                    allData.offerEmalshode = parseInt(objOffers?.maximumPrice);
                                } else {
                                    $("#totalBeforeOffer").html(parseInt(total) - parseInt(total) * parseInt(objOffers?.value));
                                    $("#totalPayment").html(parseInt(total) - parseInt(total) * parseInt(objOffers?.value));
                                    allData.totalbeforeOffer = parseInt(total) - parseInt(total) * parseInt(objOffers?.value);
                                    allData.offerEmalshode = parseInt(total) * parseInt(objOffers?.value);
                                }
                            }
                        }

                    } else {
                        $("#messageTag").html("کد تخفیف شما فاقد اعتبار می باشد");
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        // جزییات محصولات
        function GetProductByIdList_UI() {
            var productIdList = [];
            var productsInCart = shoppingCart.listCart();
            $.each(productsInCart, function (e, v) {
                productIdList.push(this.prodid);
            });

            if (productIdList.length == 0) {
                $(".cart-box").addClass("d-none");
                $(".cart-box-empty").removeClass("d-none");

                return false;
            }

            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetProductByIdList_UI",
                data: { model: productIdList },
                success: function (result) {
                    debugger
                    if (result.success == true) {
                        if (result.data?.objList.length == 0) return false;

                        console.log(result.data);
                    }
                    else {
                        $("#messageTag").html(result.message);
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        // نوع بسته بندی محصول
        let LoadPackages = () => {

            var productsInCart = shoppingCart.listCart();
            console.log(productsInCart)
            $.each(productsInCart, function (e, vx) {
                console.log("vx:",vx);
                _prodIdLst.push(vx?.prodid);
            });
            
            if (prodIdLst.length == 0) {
                $(".cart-box").addClass("d-none");
                $(".cart-box-empty").removeClass("d-none");

                return false;
            }

            for (var i = 0; i < _prodIdLst.length; i++) {
                var prd = _prodIdLst[i];
                $.ajax({
                    type: 'POST',
                    url: "/Product/GetProductPackingTypeList_UI",
                    data: {
                        productId: _prodIdLst[i]
                    },
                    success: function (result) {
                        debugger
                        if (result.success == true && result.data != null) {
                            $("select.packageComboInCart[data-pkCmbId='" + _prodIdLst[i] + "']").empty().append('<option value="">انتخاب ..</option>');
                            $.each(result.data.objList, function (e2, v2) {
                                $("select.packageComboInCart[data-pkCmbId=" + prd + "]").append("<option value='" + v2.packinggTypeId + "'>" + v2.packingTypeName ? v2.packingTypeName : 'نامشخص' + "</option>");

                            });

                        }
                    }
                });
            }

        };
        //============ Load ============

        GetProductByIdList_UI();
        GetPaymentTypeList();

        LoadPackages();


        var isSetOffer = false;
        var objOffers = {};

        var allData = {
            total: 0,
            totalbeforeOffer: 0,
            offerEmalshode: 0
        }

        var _prodIdLst = new Array();
    </script>
}